extends ../templates/template
append config
	- pageTitle= "Admisiones vacantes";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Admisiones vacantes
				img.img-fluid(src="/img/header/admisiones.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="admisiones.html") Admisiones
					li.breadcrumb-item.active Vacantes
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
			.adorno.adorno-12.en-top
				img(src="/img/svg/adorno-12.svg")
		section
			.container.text-center.position-relative
				h1.title-section Vacantes
			.position-relative
				.container
					.row
						.col-12
							.adorno.circulo-azul.en-blog.size-2
							.adorno.circulo-amarillo.en-extracurriculares
							p Se reciben solicitudes de postulación para todos los grados de inicial, primaria y secundaria en cualquier momento del año, siempre que se cuente con vacante disponible.  La atención a las solicitudes se dará por orden de llegada.
							p En caso el número de postulantes sea mayor al de vacantes disponibles, se tomará en cuenta los criterios de admisión establecidos en la Política de admisión de nuevos estudiantes, de acuerdo a la normativa vigente:
							ol.list-format-2
								li
									span Compatibilidad de la familia postulante con la línea axiológica del colegio, con su propuesta educativa y con sus normas y compromisos institucionales (
										a(href="politica-admision-nuevos-estudiantes.html" target="_blank") Perfil del padre de familia, tutor legal y/o apoderado, misión, visión
										|).
								li Compromiso de los padres con la formación integral de sus hijos.
								li Capacidad de asumir el compromiso económico con MIC.
								li Los hijos de quienes trabajan en el colegio y los postulantes que tienen hermanos/as estudiando en el colegio tienen prioridad para el otorgamiento de una vacante, siempre y cuando, a través del vínculo de la familia con el colegio, se haya evidenciado el cumplimiento de sus compromisos y su buena disposición hacia la propuesta educativa del colegio y sus miembros.
								li Balance adecuado entre niños y niñas en el aula.
							p Para mayor información sobre las vacantes disponibles comunicarse a: <a href="mailto:admision@mic.edu.pe">admision@mic.edu.pe</a> o al 970 798 461.

					.row.d-none
						.col-12
							hr
					.row.d-none
						.col-md-4
							.btn-cuadrado.rec-inicial.no-link.btn-cuadrado--version2
								a.stretched-link(href="admisiones-vacantes.html") Vacantes
							.adorno.adorno-5.en-niveles
								img(src="/img/svg/adorno-5.svg")
						.col-md-4
							.btn-cuadrado.rec-primaria.apagado.btn-cuadrado--version2
								a.stretched-link(href="admisiones-proceso.html") Proceso<br>de admisión
						.col-md-4
							.btn-cuadrado.rec-secundaria.apagado.btn-cuadrado--version2
								a.stretched-link(href="admisiones-precios.html") Precios
				.adorno.adorno-2.en-metodologia-mic
					img(src="/img/svg/adorno-2.svg")
		.c-image-last.mt-0
			.container
				.box-image
					.adorno.adorno-11.en-image-last-3
						img(src="/img/svg/adorno-11.svg")
			.adorno.adorno-2.en-pasch
				img(src="/img/svg/adorno-2.svg")

append footer
	include ../includes/footer-v1
