extends ../templates/template
append config
	- pageTitle= "Admisiones vacantes";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Admisiones vacantes
				img.img-fluid(src="/img/header/admisiones.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="admisiones.html") Admisiones
					li.breadcrumb-item.active Vacantes
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				h1.title-section Vacantes
			.container.position-relative
				.row
					.col-12
						p Para dar inicio al proceso de admisión es requisito indispensable para los alumnos postulantes tener la edad cumplida para el año al que postulan al 31 de marzo, según la ley vigente.
						h2.subtitle-section Criterios de admisión
						p A menudo el número de postulantes es mayor al de vacantes disponibles y puede suceder que no siempre podamos ofrecer una vacante a las familias postulantes. Por este motivo, tome en cuenta los siguientes criterios de admisión establecidos de acuerdo a la legislación vigente:
						ol.list-format-1
							li
								span Compatibilidad de la familia postulante con la línea axiológica del colegio, con su propuesta educativa y con sus normas y compromisos institucionales (
									a(href="./pdf/PO-004-v3_Política-de-Admisión-de-nuevos-estudiantes.pdf" target="_blank") Perfil del padre de familia, tutor legal y/o apoderado, misión, visión
									|).
							li Los hijos de quienes trabajan en el colegio y los postulantes que tienen hermanos/as estudiando en el colegio tienen prioridad para el otorgamiento de una vacante, siempre y cuando, a través del vínculo de la familia con el colegio, se haya evidenciado el cumplimiento de sus compromisos y su buena disposición hacia la propuesta educativa del colegio y sus miembros.
							li Balance adecuado entre niños y niñas en el aula.
							li Las vacantes disponibles, luego de aplicados estos criterios, no son permutables ni se rigen por orden de llegada para una eventual lista de espera.

				.row.d-none
					.col-12
						hr
				.row.d-none
					.col-md-4
						.btn-cuadrado.rec-inicial.no-link.btn-cuadrado--version2
							a.stretched-link(href="admisiones-vacantes.html") Vacantes
						.adorno.adorno-5.en-niveles
							img(src="/img/svg/adorno-5.svg")
					.col-md-4
						.btn-cuadrado.rec-primaria.apagado.btn-cuadrado--version2
							a.stretched-link(href="admisiones-proceso.html") Proceso<br>de admisión
					.col-md-4
						.btn-cuadrado.rec-secundaria.apagado.btn-cuadrado--version2
							a.stretched-link(href="admisiones-precios.html") Precios

append footer
	include ../includes/footer-v1
