extends ../templates/template
append config
	- pageTitle= "Admisiones";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Admisiones
				img.img-fluid(src="/img/header/admisiones.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item.active Admisiones
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
			.adorno.adorno-12.en-top
				img(src="/img/svg/adorno-12.svg")
		section
			.container.text-center.position-relative
				h1.title-section Admisiones
			.position-relative
				.container
					.row
						.col-12
							p Montessori International College considera a los padres como los primeros educadores de sus hijos y a la familia como el ámbito primigenio de la formación y desarrollo de la persona. Por ello, el proceso de admisión se realiza considerando el compromiso de los padres en la educación de sus hijos, los medios concretos que están dispuestos a poner para ello y la capacidad del colegio para responder a sus expectativas y necesidades.
							p Para mayor información puede revisar la&nbsp;
								a(href="./pdf/PO-004-v4_politica-de-admision-de-nuevos-estudiantes.pdf" target="_blank") Política de Admisión de nuevos estudiantes
								|.
					.row
						.col-md-4
							.btn-cuadrado.rec-inicial
								a.stretched-link(href="admisiones-vacantes.html") Vacantes
							.adorno.adorno-5.en-metodologia-mic
								img(src="/img/svg/adorno-5.svg")
						.col-md-4
							.btn-cuadrado.rec-primaria
								a.stretched-link(href="admisiones-proceso.html") Proceso <br>de admisión
						.col-md-4
							.btn-cuadrado.rec-secundaria
								a.stretched-link(href="admisiones-precios.html") Costos
				.adorno.adorno-2.en-metodologia-mic
					img(src="/img/svg/adorno-2.svg")

		.c-image-last.mt-0
			.container
				.box-image
					.adorno.adorno-11.en-image-last-3
						img(src="/img/svg/adorno-11.svg")
append footer
	include ../includes/footer-v1
