extends ../templates/template
append config
	- pageTitle= "Beneficios MIC";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				img.img-fluid(src="/img/header/beneficios.jpg")

append main
	main.main-content
		.container.position-relative
			nav.nav-breadcrumb
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item.active Beneficios MIC
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
			.adorno.adorno-12.en-top
				img(src="/img/svg/adorno-12.svg")
		section
			.container.text-center.position-relative
				.adorno.circulo-azul.size-2.en-biblioteca
				h1.title-section Beneficios MIC
				p.px-large-2 Nuestros Beneficios MIC están dirigidos a todas las personas que conforman la gran Familia MIC, pues creemos en la importancia de apoyarnos mutuamente.

			.position-relative
				.adorno.adorno-2.en-bienvenida
					img(src="/img/svg/adorno-2.svg")
				.container
					.row.mt-7.row-beneficios-mic
						.col-md-4.offset-md-2
							.btn-cuadrado.rec-inicial
								img.mb-4(src="/img/svg/ico-monedero.svg")
								a.stretched-link(href="beneficios-descuentos.html") Descuentos <br>MIC
						.col-md-4
							.btn-cuadrado.rec-primaria
								img.mb-4(src="/img/svg/ico-directorio.svg")
								//a.stretched-link(href="beneficios-directorio.html") The MIC <br>Business <br>Directory
								a.stretched-link(href="https://www.mic.edu.pe/pdf/MBDJ20.pdf" target="_blank") The MIC <br>Business <br>Directory

		section.c-image-last.mt-0
			.container
				.box-image.rotateX.left-1
					img.img-fluid(src="./img/beneficios-mic-2.png")
					.adorno.adorno-11.en-image-last-2
						img(src="/img/svg/adorno-11.svg")

append footer
	include ../includes/footer-v2
