extends ../templates/template
append config
	- pageTitle= "Biblioteca";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				img.img-fluid(src="/img/header/biblioteca.jpg")

append main
	main.main-content.page-biblioteca
		.container.position-relative
			nav.nav-breadcrumb
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="instalaciones.html") Instalaciones
					li.breadcrumb-item: a(href="biblioteca.html") Biblioteca
					li.breadcrumb-item.active Motores de búsqueda DP
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
			.adorno.adorno-12
				img(src="/img/svg/adorno-12.svg")
		section
			.container
				h1.title-section Motores de búsqueda DP
			.container.container--content.position-relative
				.row
					.col-md-8
						.form-filtro
							form
								.form-group.d-flex.align-items-center
									strong.h4 Selecciona
									select.form-control
										option(selected="selected") Generales
										option LANGUAGES
										option INDIVIDUALS & SOCIETIES
										option SCIENCES
										option MATHEMATICS
										option ARTS
										option RECURSOS DE INVESTIGACIÓN

						h2.titulo-filtro Generales
						.resultados
							.resultados-item
								.numero: span 1
								.texto
									p: strong Google Scholar
									p.d-none.d-md-block: a(href="https://scholar.google.com/" target="_blank") https://scholar.google.com/
									p Google Académico (Google Scholar) es un buscador que permite localizar documentos de carácter académico como artículos, tesis, libros, patentes, documentos relativos a congresos y resúmenes.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="https://scholar.google.com/" target="_blank") Visitar página
							.resultados-item
								.numero: span 2
								.texto
									p: strong Project Gutenberg
									p.d-none.d-md-block: a(href="https://www.gutenberg.org/ebooks/bookshelf/" target="_blank") https://www.gutenberg.org/ebooks/bookshelf/
									p El Proyecto Gutenberg es la biblioteca virtual más antigua, con libros electrónicos totalmente liberados. Encontrarás libros de diferentes materias, tales como historia, arte, psicología, música, etc.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="https://www.gutenberg.org/ebooks/bookshelf/" target="_blank") Visitar página
							.resultados-item
								.numero: span 3
								.texto
									p: strong Refseek
									p.d-none.d-md-block: a(href="https://www.refseek.com/" target="_blank") https://www.refseek.com/
									p Es un motor de búsqueda en Internet para estudiantes e investigadores que tiene como objetivo hacer que la información académica sea de fácil acceso para todos. RefSeek busca en más de un billón de documentos, incluyendo páginas web, libros, enciclopedias, revistas y periódicos.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="https://www.refseek.com/" target="_blank") Visitar página
							.resultados-item
								.numero: span 4
								.texto
									p: strong JSTOR
									p.d-none.d-md-block: a(href="https://about.jstor.org/oa-and-free/" target="_blank") https://about.jstor.org/oa-and-free/
									p JSTOR es un sistema de almacenamiento en línea de publicaciones académicas. Contiene más de 6000 títulos liberados, 864 en español. Entre otros, cubren temas de Historia, Sociología, Lengua, Literatura, Economía, Arte, Filosofía, etc.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="https://about.jstor.org/oa-and-free/" target="_blank") Visitar página
							.resultados-item
								.numero: span 5
								.texto
									p: strong Dialnet
									p.d-none.d-md-block: a(href="https://dialnet.unirioja.es/" target="_blank") https://dialnet.unirioja.es/
									p Dialnet es uno de los mayores portales bibliográficos del mundo, cuyo principal cometido es dar mayor visibilidad a la literatura científica hispana. Además, Dialnet es un sistema de alertas informativas y una plataforma de alojamiento de contenidos a texto completo.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="https://dialnet.unirioja.es/" target="_blank") Visitar página
							.resultados-item
								.numero: span 6
								.texto
									p: strong Academic Journals
									p.d-none.d-md-block: a(href="https://academicjournals.org/" target="_blank") https://academicjournals.org/
									p Academic Journals es una editorial de revistas de acceso abierto revisadas por pares. Academic Journals publica actualmente más de 100 revistas de acceso abierto que cubren arte y humanidades, ingeniería, ciencias médicas, ciencias sociales, ciencias biológicas, ciencias físicas y ciencias agrícolas. Nuestra misión es acelerar la difusión del conocimiento mediante la publicación de artículos de investigación de alta calidad utilizando el modelo de acceso abierto.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="https://academicjournals.org/" target="_blank") Visitar página
							.resultados-item
								.numero: span 7
								.texto
									p: strong Springer Open
									p.d-none.d-md-block: a(href="https://www.springeropen.com/" target="_blank") https://www.springeropen.com/
									p SpringerOpen, lanzado en junio de 2010, incluye la cartera de Springer de más de 200 revistas de acceso totalmente abierto revisadas por pares en todas las áreas de la ciencia.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="https://www.springeropen.com/" target="_blank") Visitar página
							.resultados-item
								.numero: span 8
								.texto
									p: strong Libros/Revistas/Tesis digitalizados- UNMSM
									p.d-none.d-md-block: a(href="https://sisbib.unmsm.edu.pe/bibvirtual/libros/libros.asp" target="_blank") https://sisbib.unmsm.edu.pe/bibvirtual/libros/libros.asp
									p En esta sección se pone a disposición los libros que se han editado a través de las facultades e instituciones de la UNMSM, y coeditados con instituciones académicas, docentes e investigadores. Se encuentran en texto completo y sumario.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="https://sisbib.unmsm.edu.pe/bibvirtual/libros/libros.asp" target="_blank") Visitar página
							.resultados-item
								.numero: span 9
								.texto
									p: strong Colección digital -PUCP
									p.d-none.d-md-block: a(href="https://biblioteca.pucp.edu.pe/recursos-electronicos/libros-electronicos/" target="_blank") https://biblioteca.pucp.edu.pe/recursos-electronicos/libros-electronicos/
									p.d-none.d-md-block: a(href="http://repositorio.pucp.edu.pe/index/handle/123456789/173322" target="_blank") http://repositorio.pucp.edu.pe/index/handle/123456789/173322
									p Títulos publicados a texto completo en formato PDF. Disponibles para ser descargados o leídos en línea. De libre acceso.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="https://biblioteca.pucp.edu.pe/recursos-electronicos/libros-electronicos/" target="_blank") Visitar página
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="http://repositorio.pucp.edu.pe/index/handle/123456789/173322" target="_blank") Visitar página
							.resultados-item
								.numero: span 10
								.texto
									p: strong CLACSO - BIBLIOTECA
									p.d-none.d-md-block: a(href="http://biblioteca.clacso.edu.ar/" target="_blank") http://biblioteca.clacso.edu.ar/
									p Ofrecen al público acceso libre y gratuito a los siguientes servicios: Sala de Lectura con textos digitales completos de artículos, documentos de trabajo, libros, ponencias y tesis publicados por centros asociados y programas de CLACSO.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="http://biblioteca.clacso.edu.ar/" target="_blank") Visitar página
							.resultados-item
								.numero: span 11
								.texto
									p: strong Biblioteca Nacional de España
									p.d-none.d-md-block: a(href="http://www.bne.es/es/AreaPrensa/noticias2020/1027-bne-libera-mas-de-30-millones-de-imagenes-para-todo-uso.html" target="_blank") http://www.bne.es/es/AreaPrensa/noticias2020/1027-bne-libera-mas-de-30-millones-de-imagenes-para-todo-uso.html
									p La BNE libera más de 30 millones de imágenes para todo uso: El Cantar de mio Cid, el Quijote o los manuscritos de Da Vinci a sólo tres clics de ratón.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="http://www.bne.es/es/AreaPrensa/noticias2020/1027-bne-libera-mas-de-30-millones-de-imagenes-para-todo-uso.html" target="_blank") Visitar página
							.resultados-item
								.numero: span 12
								.texto
									p: strong Biblioteca Nacional del Perú
									p.d-none.d-md-block: a(href="http://bibliotecadigital.bnp.gob.pe/inicio/" target="_blank") http://bibliotecadigital.bnp.gob.pe/inicio/
									p El portal de la Biblioteca Nacional del Perú (BNP) cuenta con cientos de libros de acceso libre, entre clásicos de la literatura, obras de autores peruanos, obras para público infantil, partituras, fotografías, publicaciones propias de la BNP, colecciones destacadas, etc.
									p.d-block.d-md-none.mt-2: a.btn.btn-rojo(href="http://bibliotecadigital.bnp.gob.pe/inicio/" target="_blank") Visitar página

						.adorno.adorno-2.en-biblioteca-niveles
							img(src="/img/svg/adorno-2.svg")
						.adorno.circulo-amarillo.en-biblioteca-niveles
							img(src="/img/svg/adorno-2.svg")
					.col-md-4
						aside.sticky-top.en-biblioteca-niveles
							.bloque-3.bloque-3--sidebar
								.btn-cuadrado.rec-inicial.apagado
									span.small Recursos
									a.stretched-link(href="biblioteca-inicial.html") Preschool
								.btn-cuadrado.rec-primaria.apagado
									span.small Recursos
									a.stretched-link(href="biblioteca-primaria.html") Lower School
								.btn-cuadrado.rec-secundaria.apagado
									span.small Recursos
									a.stretched-link(href="biblioteca-secundaria.html") Upper School
								.btn-cuadrado.rec-dp
									span.small Motores de
									a.stretched-link(href="biblioteca-dp.html") Búsqueda DP
							.adorno.circulo-azul.en-biblioteca-niveles

append footer
	include ../includes/footer-v1
