extends ../templates/template
append config
	- pageTitle= "Biblioteca";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide MIC Library
				img.img-fluid(src="/img/header/biblioteca.jpg")

append main
	main.main-content.page-biblioteca
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item.active Biblioteca
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				.bloque-1
					h2.title-section Nuestra MIC Library
					p
						| Nuestra MIC Library es una moderna biblioteca de dos pisos, equipada con libros en español, inglés, alemán y francés.
					p
						| Cuenta con todos los recursos necesarios para que nuestros estudiantes de los tres niveles desarrollen su espíritu de indagación.
				.adorno.adorno-2.en-biblioteca
					img(src="/img/svg/adorno-2.svg")
				.adorno.circulo-azul.en-biblioteca
			.container
				.bloque-2
					.row.right
						.w-45
							img.img-fluid(src="/img/internas/biblioteca-1v2.jpg")
						.w-55
							p
								| El primer piso cuenta con todos los libros de literatura clásica y contemporánea, comics, infantiles, libros de investigación, diccionarios, revistas, bibliografías, libros de arte e historia, entre otros. Asimismo, contamos con material didáctico como CD’s informativos e interactivos para todos los niveles.
					.row.left
						.w-55
							p
								| En el segundo nivel de la biblioteca encontramos la mediateca del colegio. Esta es utilizada por estudiantes y docentes para realizar trabajos grupales, buscar información y continuar con sus actividades de investigación dentro de los cursos.
						.w-45.position-relative
							img.img-fluid(src="/img/internas/biblioteca-2.jpg")
							.adorno.adorno-3.en-biblioteca
								img(src="/img/svg/adorno-3.svg")
			.container
				.bloque-3
					.row
						.col-md-4
							.btn-cuadrado.rec-inicial
								span Recursos
								a.stretched-link(href="biblioteca-inicial.html") Preschool
						.col-md-4
							.btn-cuadrado.rec-primaria
								span Recursos
								a.stretched-link(href="biblioteca-primaria.html") Lower School
						.col-md-4
							.btn-cuadrado.rec-secundaria
								span Recursos
								a.stretched-link(href="biblioteca-secundaria.html") Upper School
					.row
						.col-12
							.btn-cuadrado.btn-cuadrado--version2.rec-dp
								span Motores de
								a.stretched-link(href="biblioteca-dp.html") Búsqueda DP
							.adorno.adorno-5.en-biblioteca
								img(src="/img/svg/adorno-5.svg")

append footer
	include ../includes/footer-v1
