extends ../templates/template
append config
	- pageTitle= "Nuestros egresados siempre serán MIC";
	- currentPage= "page-interna";

append header
	.linea-progreso-lectura
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.left-0
					h1 Blog
				img.img-fluid(src="/img/internas/noticias.jpg")
				.imagen-capa

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="blog.html") Blog
					li.breadcrumb-item.active Regreso a clases, allá vamos
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section.mt-title
			.container.position-relative
				.row
					.col-md-8
						article.noticia-full
							.c-noticia__imagen
								div
									img.img-fluid(src="/img/internas/blog-3.jpeg")
							.c-noticia__texto
								.c-noticia__fecha
									span 12/01/2021
								.c-noticia__titulo
									h1 Regreso a clases, allá vamos
								.c-noticia__resumen
									p Las escuelas han visto la necesidad de generar espacios virtuales que permitan conectar a los estudiantes y establecer vínculos; ahora que ya conocemos mejor el camino, podemos brindar algunas recomendaciones para nuestra familia MIC.
								.c-share.c-share--header
									span Compartir
									ul.list-unstyled.m-0.d-flex
										li
											a(href="#") <i class="fab fa-facebook-f"></i>
										li
											a(href="#") <i class="fab fa-twitter"></i>
										li
											a(href="#") <i class="fab fa-linkedin-in"></i>
										li
											a(href="#") <i class="fas fa-envelope"></i>
										li
											a(href="#") <i class="fab fa-whatsapp"></i>
							.c-noticia__cuerpo
								p Cuando hacemos una reflexión sobre el 2020 no podemos dejar de pensar que fue un año de muchos retos, aprendizajes y muchas experiencias nuevas; fue un año que nos obligó a replantear nuestras formas de desenvolvernos y generar nuevas oportunidades. Las escuelas han visto la necesidad de generar espacios virtuales que permitan conectar a los estudiantes y establecer vínculos a pesar de no tener ese contacto físico tan necesario. ¡Wow! Realmente una tarea titánica, pero luego de un año podemos decir que ya conocemos el camino y tenemos las herramientas para regresar a clases bajo la modalidad virtual.
								p ¡Allá vamos! con una mirada mucho más alentadora, seguros de que las situaciones seguirán cambiando, pero tomaremos las mejores decisiones para nuestros estudiantes y sus familias porque lo único constante es el cambio y si logramos desarrollar nuestra capacidad de adaptarnos, podremos afrontar todo, como siempre lo hemos hecho a lo largo de nuestra historia.
								p  Ahora que ya conocemos mejor el camino, podemos brindar algunas recomendaciones para nuestra familia MIC:
								p: strong Organización
								p Es importante preparar un espacio dentro de casa, así como ajustar rutinas, y reestructurar hábitos y responsabilidades. Además, es necesario priorizar la cooperación en las diferentes actividades dentro de casa, ya que fortalece el sentido de pertenencia y brinda seguridad.
								p: strong Validar emociones:
								p Debemos reconocer que esta situación no es la que hubiésemos querido, es necesario hablar de lo que sentimos todos los miembros de la familia, con el fin de descubrir qué  hay detrás de cada emoción.
								p: strong Flexibilidad:
								p Es recomendable evitar la sobre exigencia, tanto en temas académicos como de recreación. Teniendo en cuenta que las formas de enfrentar ciertas situaciones han variado debido a las actuales circunstancias lo importante es cuidar la salud mental de toda la familia.
								p: strong Grupo de soporte:
								p Recordemos que no estamos solos, muchos padres están pasando por la misma situación que nosotros;  tratemos de compartir experiencias, ayudémonos mutuamente.
								p: strong Oportunidad:
								p Aprovechemos esta experiencia para conocer más a nuestros hijos, conectarnos con ellos y ser más conscientes de su formación.
								p: strong Trabajo en equipo:
								p Padres y maestros debemos trabajar unidos y complementarnos. Mantengamos los canales de comunicación abiertos para que cada uno ejerza su rol de la mejor manera en beneficio de nuestros estudiantes.
								p Sabemos que cada estudiante es diferente y tener en cuenta las edades es  muy importante para cubrir sus necesidades.
								p La educación virtual no va a reemplazar a la educación presencial, pero puede complementarla y generar nuevas herramientas y oportunidades por eso debemos ser capaces de aprovechar cada situación y preparar a nuestros estudiantes para afrontar cualquier reto a lo largo de su vida.

							.c-noticia__tags
								.field--items
									strong Tags:
									.field--item
										a(href="#") Learning Support Department

							.c-share
								span Compartir
								ul.list-unstyled.m-0.d-flex
									li
										a(href="#") <i class="fab fa-facebook-f"></i>
									li
										a(href="#") <i class="fab fa-twitter"></i>
									li
										a(href="#") <i class="fab fa-linkedin-in"></i>
									li
										a(href="#") <i class="fas fa-envelope"></i>
									li
										a(href="#") <i class="fab fa-whatsapp"></i>
						.adorno.adorno-2.en-blog
							img(src="/img/svg/adorno-2.svg")
					.col-md-4
						aside.sticky-top
							.adorno.circulo-azul.en-blog
							.c-noticias-mas-leidas
								h2 Notas más recientes
								.c-wrapper
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span.small 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span.small 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span.small 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
							.c-noticias-mas-leidas
								h2 Notas más leídas
								.c-wrapper
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span.small 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span.small 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span.small 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
							.c-widget-social
								<div class="fb-page" data-href="https://www.facebook.com/WeAreMIC/" data-tabs="timeline" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/WeAreMIC/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/WeAreMIC/">Montessori International College</a></blockquote></div>
							.c-botones-box-sidebar
								.btn-cuadrado.rec-inicial
									span.small Tour
									a.stretched-link(href="https://mic.edu.pe/tour-virtual/" target="_blank") Virtual
								.btn-cuadrado.rec-primaria
									a.stretched-link(href="noticias.html") Noticias
								.btn-cuadrado.rec-secundaria
									a.stretched-link(href="biblioteca.html") Biblioteca
							.adorno.adorno-3.en-laboratorio
								img(src="/img/svg/adorno-3.svg")

append footer
	include ../includes/footer-v1
