extends ../templates/template
append config
	- pageTitle= "Deportes";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				img.img-fluid(src="/img/header/deportes.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="extracurriculares.html") Extracurriculares
					li.breadcrumb-item.active Deportes
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				h1.title-section Deportes
			.container
				.row
					.col-md-10.offset-md-1
						p Mediante el programa curricular de Educación Física y los talleres extracurriculares como atletismo, básquet, fútbol y vóley; buscamos el desarrollo de las capacidades físicas de cada uno de nuestros estudiantes. También contamos con selecciones de atletismo, fútbol, básquet, natación y vóley y cheerleaders, ellos representan al colegio en los diferentes campeonatos locales, regionales y/o nacionales.
						p Estos talleres brindan a los estudiantes la oportunidad de practicar el deporte de su preferencia y descubrir sus habilidades deportivas. Los alumnos que asisten a  talleres deportivos formativos tienen oportunidad de poder demostrar sus aprendizajes a través de partidos amistosos como locales (dentro del colegio ) o invitados por otros colegios o clubes.
						p Durante el año escolar, la coordinación de deportes junto a  los entrenadores especialistas de cada disciplina deportiva se encargan de la organización de los festivales y torneos deportivos denominados COPA MIC, en distintas categorías tanto en damas como varones.

		div.c-image-last.mt-0
			.box-image.box-image--img-fluid-deportes
				img.img-fluid(src="/img/internas/deportes-1.jpg")



append footer
	include ../includes/footer-v2
