extends ../templates/template
append config
	- pageTitle= "Biblioteca";
	- currentPage= "page-interna";

append header
	h1.text-hide Enseñanza virtual
		//img.img-fluid(src="/img/header/biblioteca.jpg")
	div: iframe(width="100%" height="650" src="https://www.youtube.com/embed/QDW7zAKcqjw?controls=0&mute=0&showinfo=0&rel=0&autoplay=0&loop=1" frameborder="0" allowfullscreen)

append main
	main.main-content.page-biblioteca
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item.active Enseñanza virtual
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				h1.title-section Enseñanza virtual

			.container
				.row
					.col-md-10.offset-md-1
						.text-justify
							p
								| El uso de tecnología y herramientas digitales siempre ha sido un pilar importante en MIC, desde nuestra fundación se ha apostado e invertido en la implementación de TICS en nuestra educación.
							p
								|	Las clases virtuales han sido una oportunidad para que nuestros estudiantes se desenvuelvan en entornos digitales y gestionen su aprendizaje de manera autónoma.
							p
								|	Como miembro de los Colegios del Mundo del IB, nuestro objetivo es mantener los altos estándares de nuestro marco curricular; por ello, nuestro plan de aprendizaje a distancia está basado en las recomendaciones del Bachillerato Internacional (IB) y otros colegios IB en el mundo.
							p
								|	El plan de aprendizaje a distancia se soporta en una gran variedad de herramientas digitales, que permiten aprovechar el ambiente virtual al máximo. Entre ellas se encuentran las aplicaciones de Google for Education, Padlet, Kahoot!, Nicosweg, Flipgird, entre otras.
							p.text-center.mt-7
								img.img-fluid(src="/img/internas/logos-ensenanza.png")
						.adorno.circulo-azul.en-ensenanza-virtual
						.adorno.circulo-azul.size-2.en-ensenanza-virtual-2
						.adorno.adorno-7.en-ensenanza-virtual
							img(src="/img/svg/adorno-7.svg")
						.adorno.adorno-3.en-ensenanza-virtual
							img(src="/img/svg/adorno-3.svg")


append footer
	include ../includes/footer-v1
