extends ../templates/template
append config
	- pageTitle= "Extracurriculares";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Extracurriculares
				img.img-fluid(src="/img/header/workshops.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item.active Extracurriculares
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				h1.title-section Extracurriculares
				.adorno.adorno-8.en-extracurriculares
					img(src="/img/svg/adorno-8.svg")
			.container.position-relative
				.row
					.col-md-4.d-none
						.btn-cuadrado.rec-inicial
							a.stretched-link(href="#") Artes
					.col-md-4
						.btn-cuadrado.rec-inicial
							a.stretched-link(href="deportes.html") Deportes
						.adorno.adorno-5.en-metodologia-mic
							img(src="/img/svg/adorno-5.svg")
						.adorno.adorno-10.en-extracurriculares
							img(src="/img/svg/adorno-10.svg")
					.col-md-4
						.btn-cuadrado.rec-primaria
							a.stretched-link(href="musica.html") Música
						.adorno.adorno-9.en-extracurriculares.d-none
							img(src="/img/svg/adorno-9.svg")
					.col-md-4
						.btn-cuadrado.rec-secundaria
							a.stretched-link(href="debate.html") Debate
						.adorno.circulo-amarillo.en-extracurriculares

		div.c-image-last.mt-0
			.container
				.box-image.right-1
					img.img-fluid(src="/img/internas/musica-1.png")

append footer
	include ../includes/footer-v2
