extends ../templates/template
append config
	- pageTitle= "Diploma Programme";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Diploma Programme
				img.img-fluid(src="/img/header/metodologia.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="metodologia-mic.html") Metodología MIC
					li.breadcrumb-item.active Diploma Programme
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				h1.title-section.text-left.text-celeste Diploma Programme
			.container.position-relative
				.row
					.col-md-8
						p El Programa del Diploma (DP) tiene el objetivo de formar estudiantes que logren una excelente amplitud y profundidad en sus conocimientos, al tiempo que crezcan física, intelectual, emocional y éticamente.

						p A través del DP, podemos formar estudiantes que:
						ol.list-format-1
							li Logren una excelente amplitud y profundidad en sus conocimientos
							li Crezcan física, intelectual, emocional y éticamente
							li Estudien al menos dos lenguas
							li Sobresalgan en las asignaturas académicas tradicionales
							li Exploren la naturaleza del conocimiento mediante el curso de Teoría del Conocimiento, que es exclusivo del programa

						h2.subtitle-section.mt-7 El currículo del DP

						p El Currículo del DP tiene como meta ampliar la experiencia educativa de los estudiantes y desafiarlos a aplicar sus conocimientos y habilidades, a través de tres componentes troncales.
						ol.list-format-1
							li Teoría del Conocimiento, en el que los estudiantes reflexionan sobre la naturaleza del conocimiento y la manera en la que conocemos lo que afirmamos saber
							li La Monografía, que es un trabajo de investigación independiente y dirigido por el propio estudiante que culmina con un ensayo de 4.000 palabras
							li Creatividad, Actividad y Servicio, en el que los estudiantes completan un proyecto relacionado con estos tres conceptos



					.col-md-4
						ul.menu-sidebar.derecha
							li: a(href="ib.html") IB
							li
								ul
									li: a(href="ib-primary-years.html") Primary Years
									li: a.is-active(href="ib-diploma.html") Diploma Programme
									ul
										li: a(href="ib-cas.html") CAS
							li: a(href="pasch.html") PASCH
							li: a(href="metodologia-montessori.html") Metodología Montessori
							li: a(href="disciplina-positiva.html") Disciplina Positiva

		section.c-image-last.mt-0
			.container
				.box-image.img-fluid-mobile-200
					img.img-fluid(src="./img/internas/diploma-programme-v2.png")

append footer
	include ../includes/footer-v2
