extends ../templates/template
append config
	- pageTitle= "Primary Years Programme";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Primary Years Programme
				img.img-fluid(src="/img/header/metodologia.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="metodologia-mic.html") Metodología MIC
					li.breadcrumb-item.active Primary Years Programme
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.position-relative
				h1.title-section.text-celeste.text-left Primary Years Programme
					span.sub (Programa de la Escuela Primaria)
			.container.position-relative
				.adorno.adorno-2.en-bienvenida.d-none
					img(src="/img/svg/adorno-2.svg")
				.row
					.col-md-8
						p El Programa de la Escuela Primaria (PYP) le permite a nuestros estudiantes formarse y desarrollarse para expresar sus opiniones, realizar elecciones y asumir responsabilidades respecto de su propio aprendizaje. Está centrado en el desarrollo integral del niño, con la premisa de que los estudiantes son agentes de su propio aprendizaje y colaboradores en el proceso de aprendizaje.

					.col-md-4
						ul.menu-sidebar.derecha
							li: a(href="ib.html") IB
							li
								ul
									li: a.is-active(href="ib-primary-years.html") Primary Years
									li: a(href="ib-diploma.html") Diploma Programme
									ul
										li: a(href="ib-cas.html") CAS
							li: a(href="pasch.html") PASCH
							li: a(href="metodologia-montessori.html") Metodología Montessori
							li: a(href="disciplina-positiva.html") Disciplina positiva
				.row
					.col-md-3
						.tab-vertical.nav.flex-column(id="tab-proceso" role="tablist" aria-orientation="vertical")
							.nav-item.active(id="tab-1-tab" data-toggle="pill" href="#tab-1" role="tab")
								.btn-cuadrado.rec-inicial.btn-cuadrado--version2 AGENCIA DEL<br>ESTUDIANTE
							.nav-item(id="tab-2-tab" data-toggle="pill" href="#tab-2" role="tab")
								.btn-cuadrado.rec-primaria.btn-cuadrado--version2 EL ESPÍRITU DE LA INDAGACIÓN
							.nav-item(id="tab-3-tab" data-toggle="pill" href="#tab-3" role="tab")
								.btn-cuadrado.rec-secundaria.btn-cuadrado--version2 UN MODELO DE<br>APRENDIZAJE<br>TRANSDISCIPLINARIO
					.col-md-9
						.tab-vertical.tab-content.admision-precios(id="tab-procesoContent")
							.tab-pane.fade.amarillo.show.active(id="tab-1" role="tabpanel")
								h2.subtitle-section Agencia del estudiante
								p Nuestra comprensión del estudiante es la base de nuestro enfoque de aprendizaje y enseñanza. Los niños y niñas preguntan, cuestionan, se preguntan y teorizan sobre sí mismos, los demás y el mundo que los rodea.
								p En todo el PYP, un estudiante es un agente para su propio aprendizaje y el de los demás a través del concepto de agencia del estudiante. La agencia del estudiante está relacionada con la creencia del estudiante en su capacidad para triunfar (autoeficacia).
								p Nuestros estudiantes utilizan su propia iniciativa y voluntad, y asumen la responsabilidad y la propiedad de su aprendizaje. Dirigen su aprendizaje con un fuerte sentido de identidad y confianza en sí mismos, y en conjunto con los demás, construyendo así un sentido de comunidad y conciencia de las opiniones, valores y necesidades de los demás.
								p Cuando los estudiantes tienen albedrío, el papel del profesor y del estudiante cambia; la relación entre un profesor y un estudiante se considera una asociación.


							.tab-pane.fade.celeste(id="tab-2" role="tabpanel")
								h2.subtitle-section El espíritu de la indagación
								p La indagación, como enfoque pedagógico principal del Programa de la Escuela Primaria (PEP), reconoce que los estudiantes participan activamente en su propio aprendizaje y asumen la responsabilidad de ese aprendizaje. El aprendizaje del PEP se aborda con un espíritu de indagación. Basándose en los temas transdisciplinarios y los intereses de los estudiantes, la indagación es una forma auténtica para que los estudiantes se relacionen, exploren y comprendan el mundo que los rodea.
								p La indagación alimenta la curiosidad y promueve el entusiasmo por el aprendizaje permanente. La indagación eficaz anima a los estudiantes a pensar, desafiar y ampliar sus ideas; incita a los estudiantes a reflexionar y actuar. A través del proceso de indagación, los estudiantes desarrollan y demuestran / practican los enfoques de aprendizaje y los atributos del perfil de aprendizaje.

							.tab-pane.fade.rojo(id="tab-3" role="tabpanel")
								h2.subtitle-section Un modelo de aprendizaje transdisciplinario
								p A través del reconocimiento y el objetivo de fomentar las diversas capacidades (físicas, sociales, intelectuales, estéticas y culturales) de los estudiantes, los profesores aseguran que el aprendizaje sea atractivo, relevante, desafiante y significativo.
								p El aprendizaje transdisciplinario en el PEP transmite un aprendizaje que tiene relevancia entre, a través y más allá de las materias y trasciende las fronteras que las limitan a conectarse con lo que es real en el mundo.
								p Es una creencia fundamental del PEP que, para los estudiantes de la primera infancia y la primaria, la integración y conexión continuas de conocimientos y experiencias anteriores y nuevos es la forma más significativa de ampliar sus conocimientos sobre el mundo.


		section.c-image-last.mt-0.z-index-99
			.container
				.box-image
					img.img-fluid(src="./img/internas/footer-pyp.png")

append footer
	include ../includes/footer-v2
