extends ../templates/template
append config
	- pageTitle= "MIC";
	- currentPage= "home";

append header
	.c-carousel-home.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-home
			.item
				.box-texto.right
					p.titulo-arial Programa de Escuela Primaria
					p.parrafo Contamos con el PEP, programa educativo del IB dirigido a niños entre 2 y 12 años.
					p.mb-0
						a.btn.btn-rojo(href="ib-primary-years.html") Conoce más aquí
				img.img-fluid(src="/img/slides/slide4.jpeg")
			.item
				.box-texto.left
					p.titulo-arial ¡Regreso a clases,<br>allá vamos!
					p.parrafo Learning Support nos brindan consejos <br>para seguir conectados en estos <br>espacios virtuales.
					p.mb-0
						a.btn.btn-rojo(href="blog-3.html") Leer aquí
				img.img-fluid(src="/img/slides/slide2.jpeg")
			.item
				.box-texto
					p.titulo-arial TOUR VIRTUAL
					p.parrafo Recorre nuestros ambientes y conoce más sobre nuestra oferta educativa.
					p.mb-0
						a.btn.btn-rojo(href="https://mic.edu.pe/tour-virtual/" target="_blank") Visítalo aquí
				img.img-fluid(src="/img/slides/slide3v2.jpeg")
			.item
				.box-texto.left.mt-custom-1
					p.titulo-arial TRASLADOS 2021
					p.parrafo En MIC, ¡todo está conectado!<br> Vive la filosofía Montessori basada en el enfoque pedagógico IB.
					p.mb-0
						a.btn.btn-rojo(href="https://mic.edu.pe/admissions2021/" target="_blank") Informes aquí
				img.img-fluid(src="/img/slides/slide1.jpg")
			//.item
				.box-texto
					p.titulo.font-varsity ADMISSIONS 2021
					p.subtitulo WE ARE MIC, WHERE EVERYTHING IS CONNECTED
					p.parrafo Brinda a tus hijos una enseñanza internacional.
					p.parrafo2 Inicio de clases: 01 de marzo 2021
					p
						a.btn.btn-rojo(href="#") Informes aquí
				img.img-fluid(src="/img/slider-1.jpg")
			//.item
				video.img-fluid(playsinline defaultmuted loop src="/video-mic.mp4" poster="/video-mic-portada.jpg" autoplay muted id="introvideo")
				.video-capa

append main
	main.main-content
		section.s-wearemic
			.container
				h2.text-hide WE ARE MIC
				.adorno.circulo-rojo.en-home
				.text-center: img.text-wearemic(src="/img/svg/we-are-mic.svg")
				p.h2.font-arial-rounded.mb-subtitle.text-center ¡Bienvenidos a MIC!
				p.lead.text-center.px-large-1
					| Somos Montessori International College (MIC), una experiencia internacional inspirada en la filosofía Montessori y el enfoque pedagógico del Bachillerato Internacional (IB).
				p.text-center.mb-0
					a.btn.btn-rojo(href="bienvenida.html") Más información
				.adorno.adorno-1.en-home
					img(src="/img/svg/adorno-1.svg")
			.onda-roja
				img.img-fluid(src="/img/svg/onda-roja-2.svg" height="200")
				div
					.adorno.adorno-2.en-home
						img(src="/img/svg/adorno-2.svg")

		section.s-niveles
			.container
				h2.text-uppercase Niveles
				.adorno.circulo-rojo.size-2.en-home-2
				.c-carousel-niveles
					.owl-carousel.owl-theme.owl-carousel-niveles.owl-nav-2
						.item.position-relative
							.imagen
								img.img-fluid(src="/img/nivel-preschool.jpg")
							.texto
								p
									a.stretched-link.text-uppercase(href="niveles-pre.html") Preschool
										span.text-lowercase (2-5 años)
									a.btn.btn-rojo.d-inline-block.d-md-none(href="#") Más información
						.item.position-relative
							.imagen
								img.img-fluid(src="/img/nivel-lower-school.jpg")
							.texto
								p
									a.stretched-link.text-uppercase(href="niveles-lower.html") Lower School
										span.text-lowercase (1-6 grado)
									a.btn.btn-rojo.d-inline-block.d-md-none(href="#") Más información
						.item.position-relative
							.imagen
								img.img-fluid(src="/img/nivel-upper-school.jpg")
							.texto
								p
									a.stretched-link.text-uppercase(href="niveles-upper.html") Upper School
										span.text-lowercase (7-11 grado)
									a.btn.btn-rojo.d-inline-block.d-md-none(href="#") Más información
						.item.position-relative
							.imagen
								img.img-fluid(src="/img/nivel-dp.jpg")
							.texto
								p
									a.stretched-link(href="ib-diploma.html") DP
										span (12 grado)
									a.btn.btn-rojo.d-inline-block.d-md-none(href="#") Más información

			.adorno.adorno-3.en-home
				img(src="/img/svg/adorno-3.svg")
		section.s-instalaciones
			.container.position-relative
				.adorno.circulo-rojo.size-2.en-home-3
				.col-md-10.offset-md-1
					h2.text-center.text-uppercase Instalaciones
					.c-carousel-instalaciones
						.owl-carousel.owl-theme.owl-carousel-instalaciones.owl-nav-1
							.item.position-relative
								div
									img.img-fluid(src="/img/instalaciones-laboratorio.jpg")
								div
									p
										a.stretched-link.text-uppercase.font-weight-bold.gris(href="laboratorio.html") Laboratorio
							.item.position-relative
								div
									img.img-fluid(src="/img/instalaciones-biblioteca-2.jpg")
								div
									p
										a.stretched-link.text-uppercase.font-weight-bold.gris(href="biblioteca.html") Biblioteca

		section.s-beneficios
			.container
				.row
					.col-md-6
						h2.text-uppercase Beneficios <span class="font-varsity">MIC</span>
						p.lead.text-justify
							| Nuestros Beneficios MIC están dirigidos a todas las personas que conforman la gran Familia MIC, pues creemos en la importancia de apoyarnos mutuamente.
						p
							a.btn.btn-rojo(href="beneficios-mic.html") Más información
			.beneficios-mic
				img(src="/img/beneficios-mic.png")
			.adorno.adorno-5.en-home
				img(src="/img/svg/adorno-5.svg")
			.adorno.adorno-3.en-home-2
				img(src="/img/svg/adorno-3.svg")

		section.s-contacto
			.container
				.row
					.col-md-7
						h2.text-uppercase ¿Desea conocer más sobre nosotros?
						p.text-uppercase.font-weight-bold.mb-md-0.text-center.text-md-left Escríbenos
				.row
					.col-md-6
						form
							.form-group.form-group--2-item
								.form-item
									input.form-control(type="text" placeholder="Nombre")
								.form-item
									input.form-control(type="text" placeholder="Apellidos")
							.form-group
								input.form-control(type="text" placeholder="Email")
							.form-group
								input.form-control(type="text" placeholder="Número de celular")
							.form-group
								textarea.form-control(placeholder="Mensaje" rows="4")
							.form-actions
								input.btn.btn-rojo(type="submit" value="Enviar")

					.col-md-6
						.texto
							p.lead.font-weight-bold.text-center.text-md-left
								| Mz-A Lote MIC - Urb. Tecsup<br>
								| Distrito Victor Larco Herrera <br>
								| Trujillo, Perú<br>
								| - <br>
								| Teléfono: (044) 340 000

			.adorno.adorno-6.en-home
				img(src="/img/svg/adorno-6.svg")
		section.s-mapa
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.528283952167!2d-79.04420618562406!3d-8.149407694133947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d5b4f718e87%3A0xd8e5713072c596ea!2sMontessori+International+College!5e0!3m2!1ses-419!2spe!4v1520268402828" width="100%" frameborder="0")

		section.s-equipomic
			.container
				.adorno.adorno-4.en-home-2
					img(src="/img/svg/adorno-4.svg")
				.adorno.adorno-5.en-home-2
					img(src="/img/svg/adorno-5.svg")
				.box
					h2.text-uppercase ¿Te gustaría formar parte del equipo MIC?
					p: a.btn.btn-rojo(href="trabaja-con-nosotros.html") Trabaja con nosotros
				.box-image
					img.img-fluid(src="/img/profesoras.jpg")


append footer
	include ../includes/footer-v2
