extends ../templates/template
append config
	- pageTitle= "Biblioteca";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.left-0
					h1 Recursos Preschool
				img.img-fluid(src="/img/header/biblioteca.jpg")
				.imagen-capa

append main
	main.main-content.page-biblioteca
		section
			.container.mt-3
				nav
					ol.breadcrumb
						li.breadcrumb-item: a(href="index.html") Inicio
						li.breadcrumb-item: a(href="instalaciones-biblioteca.html") Biblioteca
						li.breadcrumb-item.active Recursos Preschool
			.container.container--content.position-relative
				.bloque-1.p-0
					.adorno-1
						img(src="/img/svg/adorno-1.svg")
				.row
					.col-md-8
						.form-filtro
							form
								.form-group.d-flex.align-items-center
									strong.h4 Selecciona
									select.form-control
										option Category 1
										option Category 2
										option Category 3

						h2.titulo-filtro Category 1
						.resultados
							.resultados-item
								.numero: span 1
								.texto
									p: strong Lorem ipsum
									p.d-none.d-md-block: a(href="#") https://www.bbc.co.uk/bitesize/subjects/zv48q6f
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, fuga soluta! Aspernatur deserunt dolore, dolores eaque ipsa nesciunt nihil nostrum porro quasi.
									p.d-block.d-md-none.mt-2: a.btn.btn-celeste(href="https://www.bbc.co.uk/bitesize/subjects/zv48q6f") Visitar página
							.resultados-item
								.numero: span 2
								.texto
									p: strong Lorem ipsum
									p.d-none.d-md-block: a(href="#") https://www.bbc.co.uk/bitesize/subjects/zv48q6f
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos doloremque facere maxime officiis ratione sed veritatis! Aperiam beatae corporis cum, dolorem doloremque earum enim iusto nesciunt nostrum quisquam reprehenderit.
									p.d-block.d-md-none.mt-2: a.btn.btn-celeste(href="https://www.bbc.co.uk/bitesize/subjects/zv48q6f") Visitar página
							.resultados-item
								.numero: span 3
								.texto
									p: strong Lorem ipsum
									p.d-none.d-md-block: a(href="#") https://www.bbc.co.uk/bitesize/subjects/zv48q6f
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cumque deserunt eligendi illo incidunt quasi veniam! Dolores, enim, molestiae. Ad beatae corporis dicta illum impedit ipsa.
									p.d-block.d-md-none.mt-2: a.btn.btn-celeste(href="https://www.bbc.co.uk/bitesize/subjects/zv48q6f") Visitar página

					.col-md-4
						aside.sticky-top
							.bloque-3.bloque-3--sidebar
								.btn-cuadrado.rec-inicial
									span Recursos
									a.stretched-link(href="instalaciones-biblioteca-inicial.html") Preschool
								.btn-cuadrado.rec-primaria.apagado
									span Recursos
									a.stretched-link(href="instalaciones-biblioteca-primaria.html") Lower School
								.btn-cuadrado.rec-secundaria.apagado
									span Recursos
									a.stretched-link(href="instalaciones-biblioteca-secundaria.html") Upper School
								.btn-cuadrado.rec-dp.apagado
									span Motores de
									a.stretched-link(href="instalaciones-biblioteca-dp.html") Búsqueda DP
