extends ../templates/template
append config
	- pageTitle= "Laboratorio";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.left-0
					h1.text-hide Laboratorio
				img.img-fluid(src="/img/header/laboratorio.jpg")

append main
	main.main-content.page-laboratorio
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="instalaciones.html") Instalaciones
					li.breadcrumb-item.active Laboratorio
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.position-relative
				h1.title-section MIC Laboratory
				p.px-large-2.text-center Nuestro MIC Laboratory es un laboratorio multifuncional equipado con instrumentos de última generación donde nuestros alumnos desarrollan su criterio científico por el mundo físico y la sostenibilidad del medio ambiente.
				.adorno.circulo-azul.size-2.en-laboratorio
			.container.position-relative
				div.my-5
					img.img-fluid(src="/img/internas/laboratorio-video.jpg")
				div
					p.px-large-2.text-center Nuestros estudiantes de Lower y Upper School desarrollan las clases prácticas de los cursos de ciencias (química, física y biología), de una manera didáctica y vivencial.
				.adorno.adorno-3.en-laboratorio
					img(src="/img/svg/adorno-3.svg")

append footer
	include ../includes/footer-v1
