extends ../templates/template
append config
	- pageTitle= "Metodología MIC";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Metodología MIC
				img.img-fluid(src="/img/header/biblioteca.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item.active Metodología MIC
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				h1.title-section Metodología MIC
			.container.position-relative
				.adorno.circulo-azul.en-blog
				.adorno.adorno-2.en-bienvenida
					img(src="/img/svg/adorno-2.svg")
				.row
					.col-md-4
						.btn-cuadrado.rec-inicial
							a.stretched-link(href="ib.html") IB
					.col-md-4
						.btn-cuadrado.rec-primaria
							a.stretched-link(href="pasch.html") Pasch
					.col-md-4
						.btn-cuadrado.rec-secundaria
							a.stretched-link(href="metodologia-montessori.html") Metodología <br>Montessori
				.row
					.col-md-4
						.btn-cuadrado.rec-dp
							a.stretched-link(href="disciplina-positiva.html") Disciplina <br>positiva
						.adorno.circulo-amarillo.en-metodologia-mic
						.adorno.adorno-5.en-metodologia-mic
							img(src="/img/svg/adorno-5.svg")
		div.c-image-last
			.container
				.box-image.right-2
					img.img-fluid(src="/img/internas/metodologia-mic.png")

append footer
	include ../includes/footer-v2
