extends ../templates/template
append config
	- pageTitle= "MIC Games - Team Yellow";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				img.img-fluid(src="/img/header/mic-games.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="mic-games.html") MIC Games
					li.breadcrumb-item: a(href="mic-games-captains.html") Captains
					li.breadcrumb-item.active Team Yellow
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				h1.mt-title.mb-title.font-varsity.text-negro.title-mic-games TEAM YELLOW
			.container.position-relative
				.owl-carousel.owl-theme.owl-carousel-mic-games.ico-loading
					.item(data-hash='2021')
						img.owl-lazy(data-src="./img/mic-games/capitanes/amarillo/2021.jpg")
					.item(data-hash='2020')
						img.owl-lazy(data-src="./img/mic-games/capitanes/amarillo/2020.jpeg")
					.item(data-hash='2019')
						img.owl-lazy(data-src="./img/mic-games/capitanes/amarillo/2019.jpg")
					.item(data-hash='2018')
						img.owl-lazy(data-src="./img/mic-games/capitanes/amarillo/2018.jpg")
					.item(data-hash='2017')
						img.owl-lazy(data-src="./img/mic-games/capitanes/amarillo/2017.jpg")
			.container
				.row
					.col-md-10.offset-md-1
						.owl-carousel.owl-theme.owl-carousel-mic-games-pager-2.owl-dots-mic-games-pager
							.item.item-link.text-center.is-active
								a(href="#2021" data-anio="2021") 2021
							.item.item-link.text-center
								a(href="#2020" data-anio="2020") 2020
							.item.item-link.text-center
								a(href="#2019" data-anio="2019") 2019
							.item.item-link.text-center
								a(href="#2018" data-anio="2018") 2018
							.item.item-link.text-center
								a(href="#2017" data-anio="2017") 2017
			.container
				.text-center.mt-6
					p: img(src="./img/svg/mic-games-logo-amarillo.svg" width="230px")

					.equipo-mic.equipo-mic--2021.d-block
						p: strong.text-negro.font-typoslab.h2 Team Yellow 2021
						ul.list-unstyled
							li Fernanda Guanilo León
							li Sebastian Pereira Vereau
							li Ivana Espinoza Manrique
							li Brunno Ponce de León Rodríguez


					.equipo-mic.equipo-mic--2020.d-none
						p: strong.text-negro.font-typoslab.h2 Team Yellow 2020
						ul.list-unstyled
							li Alejandra Guanilo León
							li Matías Arce Gonzáles
							li Daniela Gonzáles Urbina
							li Mariano Morán Núñez

					.equipo-mic.equipo-mic--2019.d-none
						p: strong.text-negro.font-typoslab.h2 Team Yellow 2019
						ul.list-unstyled
							li Alejandra Segura Correa
							li Jorge Benitez Castro
							li Romina Bracamonte Schmiel
							li Felix Sidia Poole

					.equipo-mic.equipo-mic--2018.d-none
						p: strong.text-negro.font-typoslab.h2 Team Yellow 2018
						ul.list-unstyled
							li Maria José Feldmuth Sambuceti
							li Joaquin Zaplana Moreno
							li Luisa Fernanda Ruíz Valdivia
							li Fernando Marín Ballón

					.equipo-mic.equipo-mic--2017.d-none
						p: strong.text-negro.font-typoslab.h2 Team Yellow 2017
						ul.list-unstyled
							li Flavia Cisneros Orlandini
							li Estefano Alfageme Zarzar
							li Arianna Botteri Aleman
							li Alberto Maradey Carbonell



append footer
	include ../includes/footer-v1
