extends ../templates/template
append config
	- pageTitle= "MIC Games - Theme 2018";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				img.img-fluid(src="/img/header/mic-games.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="mic-games.html") MIC Games
					li.breadcrumb-item.active MIC Games - Theme 2018
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				h1.mt-title.mb-title.font-varsity.text-negro.title-mic-games THE THEMES
				h2.mt-title.mb-title.font-typoslab.text-negro MIC Games 2018 - Musicales
			.container.position-relative
				.owl-carousel.owl-theme.owl-carousel-mic-games.ico-loading
					.item(data-hash='1')
						img.owl-lazy(data-src="./img/mic-games/temas/2018/1.JPG")
					.item(data-hash='2')
						img.owl-lazy(data-src="./img/mic-games/temas/2018/2.JPG")
					.item(data-hash='3')
						img.owl-lazy(data-src="./img/mic-games/temas/2018/3.JPG")
					.item(data-hash='4')
						img.owl-lazy(data-src="./img/mic-games/temas/2018/4.JPG")
					.item(data-hash='5')
						img.owl-lazy(data-src="./img/mic-games/temas/2018/5.JPG")
					.item(data-hash='6')
						img.owl-lazy(data-src="./img/mic-games/temas/2018/6.JPG")
			.container
				.row
					.col-md-10.offset-md-1
						.owl-carousel.owl-theme.owl-carousel-mic-games-pager.owl-dots-mic-games-pager
							.item.owl-item-photo.is-active
								a(href="#1"): img.img-fluid(src="./img/mic-games/temas/2018/1-mini.JPG")
							.item.owl-item-photo
								a(href="#2"): img.img-fluid(src="./img/mic-games/temas/2018/2-mini.JPG")
							.item.owl-item-photo
								a(href="#3"): img.img-fluid(src="./img/mic-games/temas/2018/3-mini.JPG")
							.item.owl-item-photo
								a(href="#4"): img.img-fluid(src="./img/mic-games/temas/2018/4-mini.JPG")
							.item.owl-item-photo
								a(href="#5"): img.img-fluid(src="./img/mic-games/temas/2018/5-mini.JPG")
							.item.owl-item-photo
								a(href="#6"): img.img-fluid(src="./img/mic-games/temas/2018/6-mini.JPG")

			.container.mt-6
				ul.list-unstyled.mic-games-list-link.text-center
					li
						a(href="mic-games-champions-2020.html") MIC Games 2020 - Superhéroes de Marvel
					li
						a(href="mic-games-themes-2019.html") MIC Games 2019 - Bandas de rock de los 80
					li
						a.is-active(href="mic-games-themes-2018.html") MIC Games 2018 - Musicales
					li
						a(href="mic-games-themes-2017.html") MIC Games 2017 - Películas animadas

append footer
	include ../includes/footer-v1
