extends ../templates/template
append config
	- pageTitle= "MIC Games - Champions 2020";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				img.img-fluid(src="/img/header/mic-games.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="mic-games.html") MIC Games
					li.breadcrumb-item.active MIC Games - Champions 2020
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				h1.mt-title.mb-title.font-varsity.text-negro.title-mic-games THE 2020 CHAMPIONS
			.container.position-relative
				.row
					.col-md-10.offset-md-1
						<iframe width="100%" height="500" src="https://www.youtube.com/embed/_kCp7OleXlU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			.container.mt-6
				ul.list-unstyled.mic-games-list-link.text-center
					li
						a.is-active(href="mic-games-champions-2020.html") MIC Games 2020 - Team Read
					li
						a(href="mic-games-champions-2019.html") MIC Games 2019 - Team Turquoise
					li
						a(href="mic-games-champions-2018.html") MIC Games 2018 - Team Red
					li
						a(href="mic-games-champions-2017.html") MIC Games 2017 - Team Turquoise

append footer
	include ../includes/footer-v1
