extends ../templates/template
append config
	- pageTitle= "MIC Games - Champions";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				img.img-fluid(src="/img/header/mic-games.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="mic-games.html") MIC Games
					li.breadcrumb-item.active MIC Games - Champions
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				h1.mt-title.mb-title.font-varsity.text-negro.title-mic-games THE CHAMPIONS
			.container.position-relative
				.owl-carousel.owl-theme.owl-carousel-mic-games
					.item(data-hash='uno')
						img.owl-lazy(data-src="./img/mic-games/ganadores/2018/1.JPG")
					.item(data-hash='dos')
						img.owl-lazy(data-src="./img/mic-games/ganadores/2018/2.JPG")
					.item(data-hash='tres')
						img.owl-lazy(data-src="./img/mic-games/ganadores/2018/3.JPG")
				ul
					li
						a(href="#uno") uno
					li
						a(href="#dos") dos
					li
						a(href="#tres") tres
			.container
				ul.list-unstyled.mic-games-list-link
					li
						a(href="javascript:#") MIC Games 2020 - Team Read
					li
						a(href="javascript:#") MIC Games 2019 - Team Turquoise
					li
						a.is-active(href="javascript:#") MIC Games 2018 - Team Red
					li
						a(href="javascript:#") MIC Games 2017 - Team Turquoise

append footer
	include ../includes/footer-v1
