extends ../templates/template
append config
	- pageTitle= "Preschool";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Preschool
				img.img-fluid(src="/img/header/preschool.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="niveles.html") Niveles
					li.breadcrumb-item.active Preschool
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.text-center.position-relative
				.c-header-bloque
					.bloque-1
						h1.title-section Preschool
							span 2-5 años
			.container
				.row
					.col-md-6.offset-md-1.parrafo-gris
						p Siguiendo la Metodología Montessori y el enfoque curricular del Programa de la Escuela Primaria, nuestros estudiantes de Preschool, entre 2 y 5 años, aprenden día a día en un ambiente multisensorial y preparado para fomentar su crecimiento.

						p Nuestros niños y niñas reciben lecciones enseñadas individualmente, y avanzan de acuerdo al ritmo de su aprendizaje. Nuestra meta es cultivar su deseo natural de aprender, lo cual se logra permitiéndoles experimentar la alegría de aprender por sí mismo y ayudándoles a perfeccionar todas sus aptitudes naturales para aprender.

						p Nuestras aulas Montessori se caracterizan por tener un ambiente preparado: ordenado, estético, simple y real, donde cada elemento tiene su razón. El material montessori es el eje fundamental para la correcta aplicación del método diseñado para captar la atención del niño, va de lo concreto a lo abstracto y de lo sencillo a lo complejo.

					.col-md-4
						img.img-fluid.img-content(src="/img/internas/preschool-1.png")
				.row
					.col-md-8.offset-md-1.parrafo-gris
						p Como colegio IB, tenemos el compromiso de formar desde pequeños, personas solidarias, informadas y ávidas de conocimientos, capaces de contribuir a crear un mundo mejor. Trabajamos el aprendizaje como construcción de significado, es decir, se construyen aprendizajes no solo en base a contenidos académicos sino también de capacidades y responsabilidades humanas que van más allá del éxito académico.
						p Nuestros niños y niñas de Preschool reciben clases en español e inglés, y aprenden alemán a partir de los 5 años. Además, desarrollamos sus habilidades artísticas con iniciación musical desde temprana edad, y pueden pertenecer al grupo de coro a partir de los 4 años.

			.container
				.row
					.col-md-10.offset-md-1
						.box-tipo-cronograma
							.row
								.col-md-5
									.texto-titulo
										span Cronograma
										strong Año escolar
								.col-md-7
									p
										| Revisa nuestro MIC Calendar 2021, donde encontrarás las fechas de las actividades y eventos del colegio.
									p
										a.btn-rojo(href="https://drive.google.com/file/d/1If1NmttV8ldITCBa_E7_sq88l66uKz9U/view" target="_blank") MIC Calendar 2021



append footer
	include ../includes/footer-v1
