extends ../templates/template
append config
	- pageTitle= "Metodología MIC";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Niveles
				img.img-fluid(src="/img/header/preschool.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item.active Niveles
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
			.adorno.adorno-12.en-top
				img(src="/img/svg/adorno-12.svg")
		section
			.container.text-center.position-relative
				h1.title-section Niveles
			.position-relative
				.container
					.row
						.col-md-4
							.btn-cuadrado.rec-inicial
								a.stretched-link(href="niveles-pre.html") Preschool
								span.small 2-5 años
						.col-md-4
							.btn-cuadrado.rec-primaria
								a.stretched-link(href="niveles-lower.html") Lower <br>School
								span.small 1-6 grado
						.col-md-4
							.btn-cuadrado.rec-secundaria
								a.stretched-link(href="niveles-upper.html") Upper <br>School
								span.small 7-11 grado
							.adorno.circulo-azul.size-2.en-blog
					.row
						.col-md-4.position-relative
							.btn-cuadrado.rec-dp
								span.small Cronograma
								a.stretched-link(href="https://drive.google.com/file/d/1If1NmttV8ldITCBa_E7_sq88l66uKz9U/view" target="_blank") Año escolar
							.adorno.adorno-5.en-metodologia-mic
								img(src="/img/svg/adorno-5.svg")
				.adorno.adorno-2.en-metodologia-mic
					img(src="/img/svg/adorno-2.svg")
		div.c-image-last
			.container
				.box-image.right-1
					img.img-fluid(src="/img/internas/niveles-footer.png")

append footer
	include ../includes/footer-v2
