extends ../templates/template
append config
	- pageTitle= "Biblioteca";
	- currentPage= "page-interna";

append header
	.linea-progreso-lectura
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.left-0
					h1 Noticias
				img.img-fluid(src="/img/internas/noticias.jpg")
				.imagen-capa

append main
	main.main-content.page-noticias
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="noticias.html") Noticias
					li.breadcrumb-item.active Lorem ipsum dolor sit amet, consectetur adipisicing elit
			.adorno-1-noticias
				img(src="/img/svg/adorno-1.svg")
		section
			.container.position-relative
				.row
					.col-md-8
						article.noticia-full
							.c-noticia__imagen
								div
									img.img-fluid(src="/img/internas/img-435x435.png")
							.c-noticia__texto
								.c-noticia__fecha
									span 12/01/2021
								.c-noticia__titulo
									h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
								.c-noticia__resumen
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid commodi eos excepturi nobis rerum temporibus vero voluptas. Accusantium illum quia quos similique velit. Autem illo iure optio quae tempore?
								.c-share.c-share--header
									span Compartir
									ul.list-unstyled.m-0.d-flex
										li
											a(href="#") <i class="fab fa-facebook-f"></i>
										li
											a(href="#") <i class="fab fa-twitter"></i>
										li
											a(href="#") <i class="fas fa-envelope"></i>
										li
											a(href="#") <i class="fab fa-whatsapp"></i>
							.c-noticia__cuerpo
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda blanditiis debitis dicta facilis, illum inventore ipsum magnam minima nam odit praesentium quibusdam quis quo rem sunt velit voluptas voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aliquid aut, dolore dolorem exercitationem explicabo itaque nam nemo nihil, placeat praesentium quis quisquam ratione sed sint sit vel veniam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur deleniti dolor doloremque est molestias nisi rem tempora, voluptas. Deserunt dolore error, nam omnis placeat porro sequi! Aspernatur, deleniti, molestiae!
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores commodi cum dicta, dolorem dolores ea est et excepturi facilis fuga iusto, mollitia numquam obcaecati odit, saepe sapiente similique veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur itaque iusto mollitia reiciendis similique velit voluptas voluptatum! Ab, debitis ea eaque est fugiat nulla praesentium. Consequatur dignissimos dolorem laboriosam voluptate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda at deleniti dolor earum eligendi error fugit laboriosam pariatur perspiciatis, sit tempora! Distinctio doloribus dolorum et magnam officia quisquam recusandae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur consequatur debitis, excepturi magni nobis quam voluptates! Accusamus adipisci fuga ipsum, laboriosam minus mollitia perferendis provident quidem sequi ut, voluptate.
								.video
									img.img-fluid(src="/img/internas/laboratorio-video.jpg")
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi asperiores blanditiis, cum, deserunt dignissimos esse excepturi expedita facilis hic ipsam maiores modi non nostrum numquam perspiciatis praesentium, qui tempore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dignissimos distinctio eaque eius eum, explicabo incidunt, itaque iusto neque qui soluta ut! Consequuntur impedit in iste, omnis provident sapiente veniam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur explicabo reprehenderit repudiandae. Ad delectus dignissimos eaque eligendi esse fugit nam praesentium quae repudiandae sit? Accusamus autem consectetur error harum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi architecto cumque debitis deserunt dolorum ducimus earum, exercitationem minus recusandae saepe, unde voluptas. Labore quidem, voluptatibus. Aliquid repellendus temporibus voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur earum tempora vel! Animi, aperiam consectetur dignissimos dolorum, expedita explicabo ipsum laboriosam nobis nostrum odit quidem rerum suscipit tempora vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias consequuntur debitis dolor dolores ducimus et explicabo harum, nihil odio optio sequi tempora, velit. Consequuntur ipsam iste quis rem soluta?
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae esse incidunt ipsam iste, porro possimus quis quod ratione repellat sed sequi ullam voluptatem. Adipisci at natus odit placeat recusandae. Dolorum?
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi earum expedita in reprehenderit. Aliquam architecto dolor, doloremque, facilis maiores molestias nihil non quod quos, rem saepe soluta veniam voluptatibus?
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto aut blanditiis culpa eum fugiat inventore labore libero, magni nisi non possimus provident quibusdam quidem ratione sed tenetur voluptatibus. Maxime.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias assumenda deserunt eum incidunt perferendis perspiciatis praesentium reprehenderit sed! Animi beatae ea id magnam officiis perferendis rem sint soluta voluptatum!
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi debitis dicta est et facilis illum labore optio quas rem? Cumque delectus dolores eveniet id illo impedit repellat suscipit veniam.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aspernatur cupiditate distinctio earum facilis, harum illo, illum impedit minus nam nihil nobis perferendis, quod reiciendis repudiandae sunt velit veritatis.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores cum eaque et iure libero molestiae nulla quasi sit vel. Asperiores dignissimos doloremque dolorum excepturi illo modi porro sequi voluptatibus?
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis distinctio et expedita nobis quidem unde, voluptatibus. Consequuntur debitis distinctio facere laborum molestiae perferendis tenetur totam. Dolorum iste mollitia officiis temporibus.
							.c-share
								span Compartir
								ul.list-unstyled.m-0.d-flex
									li
										a(href="#") <i class="fab fa-facebook-f"></i>
									li
										a(href="#") <i class="fab fa-twitter"></i>
									li
										a(href="#") <i class="fas fa-envelope"></i>
									li
										a(href="#") <i class="fab fa-whatsapp"></i>
					.col-md-4
						aside
							.c-noticias-mas-leidas
								h2 Noticias más recientes
								.c-wrapper
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
							.c-noticias-mas-leidas
								h2 Noticias más leídas
								.c-wrapper
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
									.c-noticia
										.c-noticia__imagen
											div
												img.img-fluid(src="/img/internas/img-435x435.png")
										.c-noticia__texto
											.c-noticia__fecha
												span 12/01/2021
											.c-noticia__titulo
												a.stretched-link(href="#"): h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dignissimos error
							.c-widget-social
								<div class="fb-page" data-href="https://www.facebook.com/WeAreMIC/" data-tabs="timeline" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/WeAreMIC/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/WeAreMIC/">Montessori International College</a></blockquote></div>
							.c-botones-box-sidebar
								.btn-cuadrado.rec-inicial
									span Tour
									a.stretched-link(href="#") Virtual
								.btn-cuadrado.rec-primaria
									a.stretched-link(href="instalaciones-biblioteca-primaria.html") Blog
								.btn-cuadrado.rec-secundaria
									span Nuestra
									a.stretched-link(href="instalaciones-biblioteca-secundaria.html") Biblioteca
