extends ../templates/template
append config
	- pageTitle= "PASCH";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide PASCH
				img.img-fluid(src="/img/header/metodologia.jpg")

append main
	main.main-content
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item: a(href="metodologia-mic.html") Metodología MIC
					li.breadcrumb-item.active PASCH
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container.position-relative
				h1.title-section.text-celeste.text-left PASCH
			.container.position-relative
				.row
					.col-md-8
						p MIC es parte de “Los colegios: Socios para el Futuro” (PASCH), una iniciativa del Ministerio de Relaciones Exteriores y puesto en práctica por la Central para Colegios Alemanes en el Extranjero, junto con el Goethe-Institut, el Servicio Alemán de Intercambio Académico y el Servicio de Intercambio Pedagógico de la Conferencia de Ministros de Cultura de Alemania.

						p El objetivo de la iniciativa PASCH es despertar en los jóvenes un interés sostenido y una curiosidad por la Alemania moderna, su sociedad y su idioma, y conformar una comunidad educativa internacional, a través de actividades comunes y el intercambio entre sus miembros.

						p En MIC, nuestros estudiantes llevan el curso de alemán desde 5Y hasta G11, con un total de 5 horas semanales en Lower School, y 4 horas semanales en Upper School.

						p Con sus atractivas ofertas educativas, PASCH contribuye a la calificación permanente tanto de estudiantes como de profesores. Además, refuerza las competencias de los jóvenes para estudiar una carrera en Alemania e incorporarse posteriormente a la vida laboral.

						p Visita la página oficial de la iniciativa <a href="https://www.pasch-net.de/de/index.html" target="_blank">PASCH</a>.

					.col-md-4
						ul.menu-sidebar.derecha
							li: a(href="ib.html") IB
							li
								ul
									li: a(href="ib-primary-years.html") Primary Years
									li: a(href="ib-diploma.html") Diploma Programme
									ul
										li: a(href="ib-cas.html") CAS
							li: a.is-active(href="pasch.html") PASCH
							li: a(href="metodologia-montessori.html") Metodología Montessori
							li: a(href="disciplina-positiva.html") Disciplina Positiva
				.row
					.col-md-4
						.tab-vertical.nav.flex-column(id="tab-proceso" role="tablist" aria-orientation="vertical")
							.nav-item.active(id="tab-1-tab" data-toggle="pill" href="#tab-1" role="tab")
								.btn-cuadrado.rec-inicial.btn-cuadrado--version2 Beneficios para estudiantes
							.nav-item(id="tab-2-tab" data-toggle="pill" href="#tab-2" role="tab")
								.btn-cuadrado.rec-primaria.btn-cuadrado--version2 Beneficios para profesores / equipo administrativo
					.col-md-8
						.tab-vertical.tab-content.admision-precios(id="tab-procesoContent")
							.tab-pane.fade.amarillo.show.active(id="tab-1" role="tabpanel")
								h2.subtitle-section Beneficios para estudiantes
								ol.list-format-1
									li Preparación para rendir pruebas de alemán del Goethe-Institut
									li Participación en concursos y proyectos internacionales relacionados al idioma alemán
									li Participación en campamentos juveniles internacionales
									li Participación en PASCH-Jugendkurse (“Cursos para jóvenes) en Frankfurt (Blog de PASCH).
									li Orientación profesional a través del DAAD sobre oportunidades de estudio en Alemania, conocido por su alto nivel de estudios superiores a bajo costo o completamente gratuito.


							.tab-pane.fade.celeste(id="tab-2" role="tabpanel")
								h2.subtitle-section Beneficios para profesores / equipo administrativo
								ol.list-format-1
									li Participación en conferencias y capacitaciones internacionales
									li Apoyo por mentores profesionales con mucha experiencia
									li El colegio recibe el apoyo de voluntarios alemanes desde el 2014, como parte del programa “Kulturweit” del estado alemán.




		section.c-image-last.mt-0.z-index-99.pb-9
			.container
				.box-image
					img.img-fluid(src="./img/internas/pasch.png")

append footer
	include ../includes/footer-v2
