extends ../templates/template
append config
	- pageTitle= "Podcast";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Podcast
				img.img-fluid(src="/img/header/podcast.jpg")

append main
	main.main-content.page-biblioteca
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item.active Podcast
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
			.adorno.adorno-12.en-top
				img(src="/img/svg/adorno-12.svg")
		section
			.container
				h1.title-section Isolation Station
				p.text-center.px-large-2 The Isolation Station is a podcast where Mr George and a special guest talk about different topics, you know, like a podcast!
			.position-relative
				.adorno.adorno-2.en-metodologia-mic
					img(src="/img/svg/adorno-2.svg")
				.adorno.circulo-amarillo.en-podcast
				.container.container-podcast.mt-7
					.row
						.col-md-6
							.c-podcast
								<iframe width="100%" height="315" src="https://www.youtube.com/embed/ql67cw4j2wc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								p
									strong.text-negro Episode 2:&nbsp;
									strong Episode 2: Peppa Pig, a 2 headed finger and more abominations
									br
									span.small 28 abr. 2021
						.col-md-6
							.c-podcast
								<iframe width="100%" height="315" src="https://www.youtube.com/embed/8vR89b52FQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								p
									strong.text-negro Episode 1:&nbsp;
									strong Episode 1: Welcome back!
									br
									span.small 31 mar. 2021

						.col-md-6
							.c-podcast
								<iframe width="100%" height="315" src="https://www.youtube.com/embed/tJkH6wktRVE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								p
									strong.text-negro Episode 27:&nbsp;
									strong Family OR Friends
									br
									span.small 23 dic. 2020
						.col-md-6
							.c-podcast
								<iframe width="100%" height="315" src="https://www.youtube.com/embed/RnLrY-f_jH0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								p
									strong.text-negro Episode 26:&nbsp;
									strong Beat Mr George! The Final?
									br
									span.small 17 dic. 2020
						.col-md-6
							.c-podcast
								<iframe width="100%" height="315" src="https://www.youtube.com/embed/B7I_7uh3rXk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								p
									strong.text-negro Episode 25:&nbsp;
									strong Beat Mr George! The Losers Edition
									br
									span.small 9 dic. 2020
						.col-md-6
							.c-podcast
								<iframe width="100%" height="315" src="https://www.youtube.com/embed/SmTtq6sAD94" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								p
									strong.text-negro Episode 24:&nbsp;
									strong Beat Mr George! Vol 4
									br
									span.small 19 nov. 2020
					.c-pager.d-none
						<nav aria-label="Page navigation example">
						<ul class="pagination">
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						</a>
						</li>
						</ul>
						</nav>



		section.c-image-last.mt-0
			.container
				.box-image
					img.img-fluid(src="./img/internas/footer-podcast.png")
			.adorno.adorno-2.en-pasch
				img(src="/img/svg/adorno-2.svg")

append footer
	include ../includes/footer-v2
