extends ../templates/template
append config
	- pageTitle= "Podcast";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Podcast
				img.img-fluid(src="/img/header/podcast.jpg")

append main
	main.main-content.page-biblioteca
		.container.position-relative
			nav
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item.active Podcast
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
		section
			.container
				h1.title-section Isolation Station
				p.text-center.px-md-9 The Isolation Station is a podcast where Mr George and a special guest talk about different topics, you know, like a podcast!
			.container.container-podcast.mt-7
				.row
					.col-md-6
						.c-podcast
							<iframe width="100%" height="315" src="https://www.youtube.com/embed/tJkH6wktRVE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p
								strong.text-negro Episode 27:&nbsp;
								strong Family OR Friends
								br
								span.small 23 dic. 2020
					.col-md-6
						.c-podcast
							<iframe width="100%" height="315" src="https://www.youtube.com/embed/RnLrY-f_jH0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p
								strong.text-negro Episode 26:&nbsp;
								strong Beat Mr George! The Final?
								br
								span.small 17 dic. 2020
					.col-md-6
						.c-podcast
							<iframe width="100%" height="315" src="https://www.youtube.com/embed/B7I_7uh3rXk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p
								strong.text-negro Episode 25:&nbsp;
								strong Beat Mr George! The Losers Edition
								br
								span.small 9 dic. 2020
					.col-md-6
						.c-podcast
							<iframe width="100%" height="315" src="https://www.youtube.com/embed/NscF0w89zLo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p
								strong.text-negro Special episode:&nbsp;
								strong The Generation
								br
								span.small 24 nov. 2020
					.col-md-6
						.c-podcast
							<iframe width="100%" height="315" src="https://www.youtube.com/embed/SmTtq6sAD94" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p
								strong.text-negro Episode 24:&nbsp;
								strong Beat Mr George! Vol 4
								br
								span.small 19 nov. 2020
					.col-md-6
						.c-podcast
							<iframe width="100%" height="315" src="https://www.youtube.com/embed/ypf4bQZjH4g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p
								strong.text-negro Episode 23:&nbsp;
								strong Beat Mr George! Vol 3
								br
								span.small 4 nov. 2020
				.c-pager
					<nav aria-label="Page navigation example">
					<ul class="pagination">
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">4</a></li>
					<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					</a>
					</li>
					</ul>
					</nav>



		section.c-image-last.mt-0
			.container
				.box-image
					img.img-fluid(src="./img/internas/footer-podcast.png")

append footer
	include ../includes/footer-v2
