extends ../templates/template
append config
	- pageTitle= "Políticas de datos personales";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Políticas de datos personales
				img.img-fluid(src="/img/header/contacto.jpg")

append main
	main.main-content
		.container.position-relative
			.adorno.adorno-1.en-home
				img(src="/img/svg/adorno-1.svg")
			.adorno.adorno-12.en-top
				img(src="/img/svg/adorno-12.svg")
		section
			.container.position-relative
				h1.title-section Política de tratamiento y protección de datos personales
			.container
				.iframe-politicas
					iframe(src="./pdf/PO-006-politica-del-tratamiento-y-proteccion-de-datos-personales.pdf" frameborder='0')


append footer
	include ../includes/footer-v1
