extends ../templates/template
append config
	- pageTitle= "Política de la Probidad Académica";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				.box-texto.right-0
					h1.text-hide Política de la Probidad Académica
				img.img-fluid(src="/img/header/contacto.jpg")

append main
	main.main-content
		.container.position-relative
			.adorno.adorno-1.en-home
				img(src="/img/svg/adorno-1.svg")
			.adorno.adorno-12.en-top
				img(src="/img/svg/adorno-12.svg")
		section
			.container.text-center.position-relative
				h1.title-section Política de la Probidad Académica
			.container
				.iframe-politicas
					iframe(src="./pdf/PO-012-politica-de-la-probidad-academica-v2.pdf" frameborder='0')


append footer
	include ../includes/footer-v1
