extends ../templates/template
append config
	- pageTitle= "Trabaja con nosotros";
	- currentPage= "page-interna";

append header
	.c-carousel-internas-header.fixed-margin-top
		.owl-carousel.owl-theme.owl-carousel-internas-header
			.item
				img.img-fluid(src="/img/header/trabaja-2.jpeg")

append main
	main.main-content
		.container.position-relative
			nav.nav-breadcrumb
				ol.breadcrumb
					li.breadcrumb-item: a(href="index.html") Inicio
					li.breadcrumb-item.active Trabaja con nosotros
			.adorno.adorno-1
				img(src="/img/svg/adorno-1.svg")
			.adorno.adorno-12.en-top
				img(src="/img/svg/adorno-12.svg")
		section
			.container.text-center.position-relative
				h1.title-section Trabaja con nosotros
				.adorno.circulo-amarillo.en-titulo
			.container.position-relative
				.adorno.circulo-azul.size-2.en-biblioteca
				.row
					.col-12
						p.text-center.px-large-2 El Equipo MIC está conformado por los mejores profesionales, de mentalidad abierta e internacional, quienes aportan desde sus espacios de trabajo a nuestro proyecto educativo.
						p.text-center: strong ¡Únete a la Familia MIC!

			.container
				h2.subtitle-section Convocatorias vigentes
				.row
					.col-md-6
						p ¡Gracias por tu interés en formar parte del Equipo MIC! Por el momento, no tenemos convocatorias vigentes, pero si deseas, puedes dejarnos tu CV.
				.acordion.acordion--vacantes.d-none
					.accordion#accordionVacantes
						.card
							.card-header#vacante1
								a(class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#vacante1content")
									.text-left
										strong Puesto:
										span Profesor de comunicación
									.text-left.text2
										strong Nivel:
										span Lower School

							.collapse#vacante1content(data-parent="#accordionVacantes")
								.card-body
									p: strong Requisitos:
									ol
										li Egresado de la carrera de Educación Primaria, deseable con estudios de posgrado
										li Conocimientos de la filosofía y metodología Montessori (deseable)
										li Conocimientos de la filosofía y metodología IB (deseable)
										li Con asistencia a diferentes cursos, capacitaciones y/o talleres de Disciplina Positiva
										li Dominio de inglés (deseable)

		section.s-equipomic
			.position-relative
				.container
					.box
						h2 ¿Te gustaría formar parte del equipo MIC?
						p: a.btn.btn-rojo(data-fancybox="hello" data-src="#hello" href="javascript:;" class="btn btn-primary") Envíanos tu CV
					.box-image
						img.img-fluid(src="/img/profesoras.jpg")
					form(id="hello" action="" method="post" style="display: none; width: 100%; max-width: 660px;" class="form-white" _lpchecked="1")
						h2.mb-3.font-typoslab.text-negro ¿Te gustaría formar parte del equipo MIC?
						p Envíanos tus datos y nos comunicaremos contigo.
						p
							input(type="text" value="" name="hi1" class="form-control" placeholder="Nombre y apellidos")
						p
							input(type="text" value="" name="hi1" class="form-control" placeholder="Correo electrónico")
						p
							input(type="text" value="" name="hi1" class="form-control" placeholder="Celular")
						p
							label Adjunta tu CV
							br
							input(type="file" value="" name="hi1" )
						hr
						p.mb-0
							input(data-fancybox-close="" type="button" class="btn btn-rojo" value="Enviar mis datos")
				.adorno.adorno-2.en-trabaja
					img(src="/img/svg/adorno-2.svg")



append footer
	include ../includes/footer-v2
