@mixin transition {
  transition: all 0.3s;
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet_only {
  @media (min-width: 768px) AND (max-width: 991px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin hd {
  @media (min-width: 1200px) {
    @content;
  }
}
