@import "mixin";

$color-celeste: #009FE3;
$color-amarillo: #FFEC00;
$color-rojo: #E30613;
$color-negro: #000000;
$color-blanco: #FFFFFF;
$color-gris: #989898;
$color-gris-oscuro: #848587;
$color-gris-claro: #CCCCCC;

$size-texto-mobile: 20px;
$text-size-big: 27px;
$text-size-medium: 24px;

@mixin text-big {
	font-size: $text-size-big;
	color: $color-gris;
	line-height: 1.4;
	@include mobile {
		font-size: 20px;
	}
}

@mixin text-medium {
	font-size: $text-size-medium;
	color: $color-gris;
	line-height: 1.4;
	@include mobile {
		font-size: 20px;
	}
}

/* admin toolbar */
body.toolbar-horizontal {
	#toolbar-administration {
		position: relative;
		z-index: 9999;
	}

	.c-header {
		padding-top: 39px;
	}

	&.toolbar-tray-open {
		.c-header {
			padding-top: 79px;
		}
	}
}

/* local tast */
.local-task {
	ul {
		background: #eeeeee;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 1rem;

		li {
			a {
				margin: 0 .5rem;
				background: white;
				padding: .2rem 1rem;
			}
		}
	}
}

#spb-politicas {
	.spb_overlay {
		background-color: rgba(0, 0, 0, 1);
	}

	.spb-aceptar {
		display: flex;

		.spb-controls {
			position: relative;
			right: auto;
			left: 0;
		}
	}
}

.no-link {
	pointer-events: none;
	cursor: default;
}

/* base, custom fonts  */
$pathFonst: '/css'; /* gulp */
$pathFonst0: '/themes/mic2021/html/public/css'; /* prod */
$pathFonst0: '/themes/mic2021/html/public/css'; /* lando y drupalx.in */

@font-face {
	font-family: 'GeometrBook';
	src: url($pathFonst + '/themefonts/Geometric212BT-BookCondensed.eot');
	src: url($pathFonst + '/themefonts/Geometric212BT-BookCondensed.eot?#iefix') format('embedded-opentype'),
	url($pathFonst + '/themefonts/Geometric212BT-BookCondensed.woff2') format('woff2'),
	url($pathFonst + '/themefonts/Geometric212BT-BookCondensed.woff') format('woff'),
	url($pathFonst + '/themefonts/Geometric212BT-BookCondensed.ttf') format('truetype'),
	url($pathFonst + '/themefonts/Geometric212BT-BookCondensed.svg#Geometric212BT-BookCondensed') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GeometrBlack';
	src: url($pathFonst + '/themefonts/Geometric706BT-BlackCondensedB.eot');
	src: url($pathFonst + '/themefonts/Geometric706BT-BlackCondensedB.eot?#iefix') format('embedded-opentype'),
	url($pathFonst + '/themefonts/Geometric706BT-BlackCondensedB.woff2') format('woff2'),
	url($pathFonst + '/themefonts/Geometric706BT-BlackCondensedB.woff') format('woff'),
	url($pathFonst + '/themefonts/Geometric706BT-BlackCondensedB.ttf') format('truetype'),
	url($pathFonst + '/themefonts/Geometric706BT-BlackCondensedB.svg#Geometric706BT-BlackCondensedB') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Varsity';
	src: url($pathFonst + '/themefonts/VarsityRegular.eot');
	src: url($pathFonst + '/themefonts/VarsityRegular.eot?#iefix') format('embedded-opentype'),
	url($pathFonst + '/themefonts/VarsityRegular.woff2') format('woff2'),
	url($pathFonst + '/themefonts/VarsityRegular.woff') format('woff'),
	url($pathFonst + '/themefonts/VarsityRegular.ttf') format('truetype'),
	url($pathFonst + '/themefonts/VarsityRegular.svg#VarsityRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GeometrHeavy';
	src: url($pathFonst + '/themefonts/Geometric212BT-HeavyCondensed.eot');
	src: url($pathFonst + '/themefonts/Geometric212BT-HeavyCondensed.eot?#iefix') format('embedded-opentype'),
	url($pathFonst + '/themefonts/Geometric212BT-HeavyCondensed.woff2') format('woff2'),
	url($pathFonst + '/themefonts/Geometric212BT-HeavyCondensed.woff') format('woff'),
	url($pathFonst + '/themefonts/Geometric212BT-HeavyCondensed.ttf') format('truetype'),
	url($pathFonst + '/themefonts/Geometric212BT-HeavyCondensed.svg#Geometric212BT-HeavyCondensed') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Arial Rounded MT';
	src: url($pathFonst + '/themefonts/ArialRoundedMTBold.eot');
	src: url($pathFonst + '/themefonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
	url($pathFonst + '/themefonts/ArialRoundedMTBold.woff2') format('woff2'),
	url($pathFonst + '/themefonts/ArialRoundedMTBold.woff') format('woff'),
	url($pathFonst + '/themefonts/ArialRoundedMTBold.ttf') format('truetype'),
	url($pathFonst + '/themefonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url($pathFonst + '/themefonts/Helvetica.eot');
	src: url($pathFonst + '/themefonts/Helvetica.eot?#iefix') format('embedded-opentype'),
	url($pathFonst + '/themefonts/Helvetica.woff2') format('woff2'),
	url($pathFonst + '/themefonts/Helvetica.woff') format('woff'),
	url($pathFonst + '/themefonts/Helvetica.ttf') format('truetype'),
	url($pathFonst + '/themefonts/Helvetica.svg#Helvetica') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url($pathFonst + '/themefonts/HelveticaNeue.eot');
	src: url($pathFonst + '/themefonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
	url($pathFonst + '/themefonts/HelveticaNeue.woff2') format('woff2'),
	url($pathFonst + '/themefonts/HelveticaNeue.woff') format('woff'),
	url($pathFonst + '/themefonts/HelveticaNeue.ttf') format('truetype'),
	url($pathFonst + '/themefonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.font-varsity {
	font-family: Varsity;
	font-weight: normal;
	font-style: normal;
}

/**************************** placeholder forms *******/
::placeholder {
	color: rgba(0, 0, 0, 0.5) !important;
	opacity: 1 !important;
}

:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.5) !important;
}

/**************************** radio, check format *******/
.checkbox input[type="checkbox"] {
	opacity: 0;
	position: absolute;
}

.checkbox label {
	position: relative;
	display: inline-block;
	font-size: 90%;
	/*16px width of fake checkbox + 6px distance between fake checkbox and text*/
	padding-left: 30px;
}

.checkbox label::before,
.checkbox label::after {
	position: absolute;
	content: "";
	/*Needed for the line-height to take effect*/
	display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
	height: 18px;
	width: 18px;
	border: 2px solid black;
	left: 0;
	top: 0;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
	height: 6px;
	width: 10px;
	border-left: 2px solid;
	border-bottom: 2px solid;
	transform: rotate(-45deg);
	left: 4px;
	top: 4px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
	content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
	content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
/* .checkbox input[type="checkbox"]:focus+label::before {
    outline: rgb(59, 153, 252) auto 5px;
} */


.bounce {
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

/*********** reset bootstrap ***********/
.sticky-top {
	top: 80px;
}

/*********** custom css for theme - base *********/
body {
	font-family: 'Helvetica';
	font-size: 1rem;
	font-weight: normal;
	overflow-x: hidden;
	color: $color-gris;
	line-height: 1.5;

	&.visible_menu {
		&::before {
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			position: absolute;
			background-color: rgba(0, 0, 0, .75);
			z-index: 10;
		}
	}

	ul {
		li {
			font-size: 22px;

			a {
				&.text-link {
					color: $color-rojo;
				}
			}
		}
	}

	p {
		font-size: 22px;

		a {
			&.text-link {
				color: $color-rojo;
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h2 {
	color: $color-gris;
	font-size: 3.25rem;
	font-size: 45px;
	@include mobile {
		font-size: 30px;
		text-align: center;
	}
}

aside {
	h3 {
		letter-spacing: unset;
	}
}

img.cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

a,
button,
input.form-submit {
	@include transition;

	&:hover {
		@include transition;
	}
}

.main-content {
	img.hover-efect {
		@include transition;

		&:hover {
			@include transition;
			transform: rotate(3deg);
		}
	}

	.row {
		> div {
			margin-bottom: 30px;
			@include mobile {
				margin-bottom: 0;
			}
		}
	}
}

.h2-content {
	font-size: 1.5rem;
	margin: 3rem 0 1.5rem;
	letter-spacing: 1px;
}

.h3-content {
	font-size: 22px;
	margin: 2.5rem 0 1.2rem;
	color: $color-gris;
	letter-spacing: 1px;
}

.btn-rojo {
	border-radius: .6rem;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Arial Rounded MT";
	border: 0;
	font-size: 1.1rem;
	padding: 0.375rem 1.25rem;

	&:hover {
		background-color: $color-negro;
	}
}

.btn-celeste {
	border-radius: .6rem;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Arial Rounded MT";
	border: 0;
	font-size: 1.1rem;
	padding: 0.375rem 1.25rem;
	color: $color-blanco !important;

	&:hover {
		background-color: $color-negro;
	}
}

.right-0 {
	right: calc(100% - 90%);
	@include mobile {
		right: 15px;
	}
}

.left-0 {
	left: calc(100% - 90%);
	@include mobile {
		left: 15px;
	}
}

/*********** custom css for theme *********/
.container000 {
	border-right: 1px dashed $color-rojo;
	border-left: 1px dashed $color-rojo;
	box-sizing: border-box;
}

.breadcrumb {
	background-image: linear-gradient(to right, #EEEEEE, white 75%);
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;

	a {
		color: $color-rojo;
	}
}

.c-header {
	position: relative;
	z-index: 999;
	@include mobile {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: $color-blanco;
	}

	.logo {
		@include mobile {
			margin-right: 0;
		}

		img {
			height: 44px;
			@include mobile {
				height: 30px;
			}
		}
	}

	.c-header__menu-secundario {
		ul {
			li {
				margin-right: 1.75rem;

				a {
					color: $color-rojo;
					text-transform: uppercase;
					font-family: "Arial Rounded MT";
					font-size: 14px;
					text-decoration: none;

					&:hover {
						color: $color-negro;
					}
				}

				&:last-child {
					margin-right: 0;
				}

				&.social {
					margin-right: 15px;

					a {
						background-color: white;
						width: 34px;
						height: 34px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 1.3rem;
						border-radius: 50%;
						box-shadow: 3px 3px 4px rgba(0, 0, 0, .15);
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		.btn-search {
			img {
				margin-top: -2px;
			}
		}

		.btn-sieweb {
			background-color: $color-rojo;
			color: $color-blanco;
			padding: .35rem 1.5rem;
			border-radius: 12px;
			text-transform: capitalize;

			&:hover {
				background-color: $color-negro;
				color: $color-blanco;
			}
		}
	}

	.c-header__menu-principal {
		background-color: rgba(255, 255, 255, .85);

		.container-fluid {
			@include mobile {
				padding-right: 0;
				padding-left: 0;
			}
		}

		ul {
			li {
				margin-right: .75rem;

				a {
					color: $color-negro !important;
					text-transform: uppercase;
					font-family: "Arial Rounded MT";
					font-weight: normal;
					font-size: 15px;
					text-decoration: none;


					&:hover {
						color: $color-rojo !important;
						text-decoration: underline;
					}

					&::after {
						display: none;
					}
				}

				&.active {
					> a {
						color: $color-rojo !important;
						text-decoration: underline;
					}
				}

				&:first-child {
					display: flex;
					align-items: center;
				}

				&:last-child {
					margin-right: 0;
				}

				.dropdown-menu {
					margin: 0.5rem 0 0;
					border: 0;

					.dropdown-item {
						&:hover,
						&:active {
							//background-color: rgba(0, 0, 0, .35);
							color: $color-rojo !important;
							text-decoration: none;
						}
					}
				}
			}
		}

		.btn-sieweb-mobile {
			padding: 3px 15px;
			font-size: 14px;
			text-transform: capitalize;
		}

		.navbar {
			@include mobile {
				padding: 0;
				.navbar-brand {
					padding: 1rem;
				}
				#menu_on {
					margin: 1rem;
				}
				.navbar-collapse {
					background-color: #eeeeee;
					padding: 1rem;

					ul {
						li {
							margin-right: 0;
							border-bottom: 1px solid $color-gris;

							&:first-child,
							&:last-child {
								border-bottom: 0;
							}

							a {
								padding: .75rem 1rem;
							}

							.dropdown-menu {
								margin: 0;
								padding: .5rem 1rem;

								a {
									position: relative;
									padding: .75rem 1.35rem;

									&::before {
										font-family: "Font Awesome 5 Free";
										content: '\f111';
										position: absolute;
										font-weight: 900;
										font-size: .4rem;
										left: 0;
									}
								}
							}
						}
					}
				}
			}
		}

		@include transition;

		.logo-fixed {
			display: none;
		}

		&.fixed-top {
			background-color: $color-blanco;
			box-shadow: 0 0 10px rgba(0, 0, 0, .2);
			@include transition;

			.logo-fixed {
				display: flex;
				@include mobile {
					display: none;
				}
			}

			.logo img {
				@include pc {
					height: 20px;
				}
			}
		}
	}
}

#menu_on {
	display: inline-block;
	width: 36px;
	height: 26px;
	position: relative;
	z-index: 2;
}

#menu_on span {
	width: 100%;
	height: 4px;
	border-radius: 4px;
	display: block;
	position: absolute;
	background: $color-gris-oscuro;
	transition: all 0.25s ease;
	transform-origin: 0px 100%;
}

#menu_on span:nth-child(2) {
	top: calc(50% - 2px);
}

#menu_on span:nth-child(3) {
	bottom: 0;
}

.visible_menu #menu_on span {
	background-color: $color-negro;
}

.visible_menu #menu_on span:nth-child(1) {
	transform: rotate(45deg) translate(-2px, 1px);
}

.visible_menu #menu_on span:nth-child(2) {
	opacity: 0;
}

.visible_menu #menu_on span:nth-child(3) {
	transform: rotate(-45deg) translate(-2px, 2px);
}

.owl-carousel {
	position: relative;

	&.owl-nav-1 {
		.owl-nav {
			position: absolute;
			top: 50%;
			margin-top: -25px;
			width: 100%;
			@include mobile {
				position: inherit;
				margin-top: -50px;
			}

			button {
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;

				i {
					font-size: 1.8rem;
					color: grey;

					&:hover {
						color: $color-rojo;
					}
				}
			}

			.owl-prev {
				position: absolute;
				left: -4rem;
				@include mobile {
					left: -15px;
				}
			}

			.owl-next {
				position: absolute;
				right: -4rem;
				@include mobile {
					right: -15px;
				}
			}
		}
	}

	&.owl-nav-2 {
		.owl-nav {
			position: absolute;
			top: 50%;
			margin-top: -25px;
			width: 100%;

			button {
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;

				i {
					font-size: 1.8rem;
					color: grey;
					@include mobile {
						color: white;
					}

					&:hover {
						color: $color-rojo;
					}
				}
			}

			.owl-prev {
				position: absolute;
				left: -4rem;
				@include mobile {
					left: 0;
				}
			}

			.owl-next {
				position: absolute;
				right: -4rem;
				@include mobile {
					right: 0;
				}
			}
		}
	}
}

.fixed-margin-top {
	&.fixed-yes {
		margin-top: 0;
	}

	@include mobile {
		margin-top: 62px;
	}
}

.c-carousel-home {
	z-index: 1;
	@include pc {
		margin-top: -54px;
	}

	.owl-carousel {

		.item {
			position: relative;
			display: flex;


			img,
			video {
				object-fit: cover;
				object-position: center;
				height: 100%;
				width: 100%;
			}

			.video-capa {
				background-color: rgba(0, 0, 0, 0.25);
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
			}

			@include mobile {
				flex-direction: column-reverse;
				height: 250px;
			}
			@include pc {
				align-items: center;
				height: 700px;
			}

			.box-texto {
				@include mobile {
					display: none;
					text-align: center;
					padding: 1rem;
				}
				@include pc {
					position: absolute;
					right: 200px;
					color: white;
					width: 480px;
				}

				.titulo {
					font-size: 3.5rem;
					font-weight: normal;
					line-height: 1;
					margin-bottom: .25rem;
					@include mobile {
						font-size: 2rem;
					}
				}

				.subtitulo {
					font-family: "Arial Rounded MT";
					font-size: 1.7rem;
					line-height: 1.15;
					margin-bottom: 1.5rem;
					@include mobile {
						font-size: 1.25rem;
					}
				}

				.parrafo {
					font-size: 1.25rem;
					font-family: "Arial Rounded MT";
					line-height: 1;
					margin-bottom: 1.5rem;
					@include mobile {

					}
				}

				.parrafo2 {
					font-size: 1.5rem;
					font-family: "Arial Rounded MT";
					text-transform: uppercase;
					line-height: 1;
					margin-bottom: 1.5rem;
					@include mobile {
						font-size: 1.25rem;
					}
				}

				.btn {
					font-size: 1.25rem;
				}
			}
		}

		.owl-nav {
			position: absolute;
			margin-top: -25px;
			top: 50%;
			width: 100%;
			opacity: 0;
			@include mobile {
				opacity: 1;
				margin-top: 0;
				top: 100px;
			}

			button {
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;

				i {
					font-size: 2.15rem;
					color: white;
					@include mobile {
						color: white;
					}
				}
			}

			.owl-prev {
				position: absolute;
				left: 7rem;
				@include mobile {
					left: 0;
				}
			}

			.owl-next {
				position: absolute;
				right: 7rem;
				@include mobile {
					right: 0;
				}
			}
		}

		&:hover {
			.owl-nav {
				opacity: 1;

				@include pc {
					.owl-prev {
						left: 5rem;
					}

					.owl-next {
						right: 5rem;
					}
				}
			}
		}
	}
}

.c-carousel-niveles {
	.owl-nav {
		@include mobile {
			display: none;
		}
	}

	.owl-dots {
		margin-top: 1rem;
		text-align: center;
		display: none;
		@include mobile {
			display: block;
		}

		.owl-dot {
			span {
				width: 50px;
				height: 12px;
				margin: 5px 7px;
				background: $color-gris-claro;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity .2s ease;
			}

			&.active {
				span {
					background-color: $color-rojo;
				}
			}
		}
	}
}

.c-carousel-internas-header {
	z-index: 1;
	@include pc {
		margin-top: -54px;
	}

	.owl-carousel {

		.item {
			position: relative;
			display: flex;
			align-items: center;

			img,
			video {
				object-fit: cover;
				object-position: center;
				height: 100%;
				width: 100%;
			}

			.video-capa {
				background-color: rgba(0, 0, 0, 0.25);
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
			}

			.imagen-capa {
				background-color: rgba(0, 0, 0, 0.25);
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
			}

			@include mobile {
				height: 250px;
			}
			@include pc {
				height: 500px;
			}

			.box-texto {
				position: absolute;
				color: white;
				z-index: 9;

				h1 {
					font-size: 48px;
					font-weight: bold;
					line-height: 1.2;
					margin: 54px 0 0 0;
					text-transform: uppercase;
					letter-spacing: 5px;
					@include mobile {
						font-size: 2rem;
						margin: 0;
					}
				}
			}
		}

		.owl-nav {
			position: absolute;
			margin-top: -25px;
			top: 50%;
			width: 100%;
			@include mobile {
				margin-top: 0;
				top: 100px;
			}

			button {
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;

				i {
					font-size: 2.15rem;
					color: white;
					@include mobile {
						color: white;
					}
				}
			}

			.owl-prev {
				position: absolute;
				left: 5rem;
				@include mobile {
					left: 0;
				}
			}

			.owl-next {
				position: absolute;
				right: 5rem;
				@include mobile {
					right: 0;
				}
			}
		}
	}
}

.s-wearemic {
	position: relative;
	padding: 120px 0 0;
	@include mobile {
		padding: 60px 0 0;
	}

	.container {
		position: relative;
	}

	h2 {
		position: relative;

		&::before {
			content: '';
			background: url("/img/svg/circulo-rojo.svg") no-repeat;
			background-size: 100%;
			width: 36px;
			height: 36px;
			position: absolute;
			top: 0;
			left: -40px;
		}
	}

	img.text-wearemic {
		height: 50px;
		margin-bottom: 2.5rem;

		@include mobile {
			height: 35px;
		}
	}

	h3 {
		margin-bottom: 2rem;
		font-family: "Arial Rounded MT";
		font-weight: normal;

		@include mobile {
			font-size: 1.2rem;
		}
	}

	p {
		&.parrafo {
			@include text-big();
			padding: 0 200px;
			margin-bottom: 3rem;
			text-align: center;
			@include mobile {
				padding: 0;
				font-size: $size-texto-mobile;
			}
		}
	}

	.adorno-2 {
		position: absolute;
		width: 330px;
		left: -200px;
		bottom: 0;
		@include mobile {
			width: 130px;
			left: -70px;
			bottom: 0;
		}

		img {
			width: 100%;
		}
	}

	.onda-roja {
		img {
			z-index: 9;
			position: relative;
		}

		.container {
			z-index: 8;
		}
	}
}

.adorno-1 {
	position: absolute;
	width: 360px;
	right: -80px;
	top: -118px;
	z-index: 9;
	@include mobile {
		display: none;
		width: 150px;
		right: -80px;
		top: -50px;
	}

	img {
		width: 100%;
	}
}

.adorno-1-noticias {
	position: absolute;
	width: 360px;
	right: -80px;
	top: -90px;
	z-index: 9;
	@include mobile {
		display: none;
		width: 150px;
		right: -80px;
		top: -50px;
	}

	img {
		width: 100%;
	}
}

.s-niveles {
	position: relative;
	padding: 120px 0;
	@include mobile {
		padding: 0 0 60px;
	}

	.container {
		position: relative;
		@include mobile {
			padding: 0;
		}
	}

	.adorno-3 {
		@include mobile {
			display: none;
		}
		position: absolute;
		width: 290px;
		right: -145px;
		top: -120px;

		img {
			width: 100%;
		}
	}

	h2 {
		text-transform: uppercase;
		margin-bottom: 5rem;
		position: relative;
		@include mobile {
			display: none;
			margin-bottom: 1.5rem;
		}

		&::before {
			content: '';
			background: url("/img/svg/circulo-rojo.svg") no-repeat;
			background-size: 100%;
			width: 60px;
			height: 60px;
			position: absolute;
			top: 0;
			right: 270px;
			@include mobile {
				display: none;
			}
		}
	}

	.item {
		@include mobile {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		img {
			border-radius: 0 4rem 0 0;
			@include mobile {
				border-radius: 0;
			}
		}

		p {
			margin: 23px 0 0;
			@include mobile {
				margin: 0;
				text-align: center;
			}

			a {
				&.stretched-link {
					color: $color-gris;
					font-size: 20px;
					text-transform: uppercase;
					font-weight: bold;
					display: flex;
					align-items: center;
					text-decoration: none;
					letter-spacing: 1.5px;
					@include mobile {
						font-family: Varsity;
						font-weight: normal;
						color: white;
						font-size: 38px;
						justify-content: center;
						flex-direction: column;
					}

					span {
						font-size: 1rem;
						font-weight: normal;
						margin-left: 1rem;
						text-transform: lowercase;
						@include mobile {
							display: none;
							margin-left: 0;
						}
					}
				}

				&.btn {
					margin-top: 2rem;
					font-size: 13px;

					&:hover,
					&:active {
						background-color: $color-negro;
					}
				}
			}
		}

		.imagen {
			position: relative;
			@include mobile {
				&::before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					background-color: rgba(0, 0, 0, .5);
				}
			}
		}

		.texto {
			@include mobile {
				position: absolute;
			}
		}

		&:hover {
			p {
				a {
					@include pc {
						color: $color-rojo;
					}
				}
			}
		}
	}
}

.s-instalaciones {
	padding: 0 0 120px;

	.container {
		position: relative;

		&::before {
			content: '';
			background: url("/img/svg/circulo-rojo.svg") no-repeat;
			background-size: 100%;
			width: 60px;
			height: 60px;
			position: absolute;
			top: 90px;
			left: -40px;
		}
	}

	h2 {
		text-transform: uppercase;
		margin-bottom: 3rem;
		position: relative;
		text-align: center;
	}

	.item {
		padding: 0 1rem;

		img {
			border-radius: 0 0 6rem 0;
			box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
		}

		p {
			margin: 3rem 0 0;
			text-align: center;

			a {
				color: $color-gris;
				font-weight: bold;
				font-size: 20px;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					color: $color-rojo;
				}
			}
		}
	}

	.owl-nav {
		margin-top: -50px !important;
		@include mobile {
			margin-top: -40px !important;
		}

		button {
			width: 45px !important;
			height: 45px !important;
		}

		.owl-prev,
		.owl-next {
			background-color: $color-gris !important;

			i {
				color: white !important;
				font-size: 1.5rem !important;
			}

			&:hover {
				background-color: $color-rojo !important;
			}
		}
	}
}

.s-beneficios {
	position: relative;
	padding: 0 0 250px;
	@include mobile {
		padding: 0;
	}

	.container {
		position: relative;
	}

	.adorno-4 {
		@include mobile {
			display: none;
		}
		position: absolute;
		width: 500px;
		//right: -130px;
		//top: -120px;
		top: 60px;
		left: 400px;
		z-index: 8;

		img {
			width: 100%;
			height: auto !important;
		}
	}

	.adorno-5 {
		position: absolute;
		width: 700px;
		left: -470px;
		bottom: -415px;

		img {
			width: 100%;
		}
	}

	h2 {
		text-transform: uppercase;
		margin-bottom: 1.5rem;

		.font-varsity {
			color: $color-rojo;
			font-size: 3.3rem;
			letter-spacing: 1px;
			@include mobile {
				font-size: 2.2rem;
			}
		}
	}

	p {
		&.parrafo {
			font-size: 1.5rem;
			line-height: 2rem;
			color: $color-gris;
			text-align: justify;
			@include mobile {
				text-align: center;
				font-size: $size-texto-mobile;
			}
		}

		@include mobile {
			text-align: center;
		}
	}

	.beneficios-mic {
		@include pc {
			position: absolute;
			bottom: 0;
			right: 50%;
			margin-right: -900px;
			z-index: -1;
		}

		img {
			width: 100%;
			position: relative;
			z-index: 9;
			@include pc {
				width: auto;
				height: 710px;
			}
		}
	}
}

.s-contacto {
	padding: 120px 0;
	background: url("/img/fondo-colegio.jpg") center center;
	background-size: cover;
	position: relative;

	.adorno-6 {
		@include mobile {
			display: none;
		}
		position: absolute;
		width: 500px;
		right: -250px;
		bottom: -10px;

		img {
			width: 100%;
		}
	}

	h2 {
		color: $color-gris-oscuro;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}

	h3 {
		color: $color-gris-oscuro;
		text-transform: uppercase;
		margin-bottom: 1.5rem;
		letter-spacing: 1.5px;
		@include mobile {
			text-align: center;
		}
	}

	form {
		.form-group {
			.form-item {
				@include mobile {
					margin-bottom: 1rem;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		input,
		textarea {
			border: 0;
			border-radius: .75rem;
			font-size: 1.25rem;
		}

		.form-actions {
			@include mobile {
				text-align: center;
			}
		}
	}

	.texto {
		height: 100%;
		display: flex;
		align-items: center;
		padding-left: 4rem;
		@include mobile {
			display: block;
			padding-left: 0;
			padding-top: 60px;
		}

		p {
			font-weight: bold;
			font-size: 1.7rem;
			line-height: 1.3;
			color: $color-gris-oscuro;
			letter-spacing: 1.5px;
			@include mobile {
				font-size: $size-texto-mobile;
				text-align: center;
			}
		}
	}
}

.s-mapa {
	height: 500px;
	z-index: 1;
	position: relative;

	iframe {
		height: 500px;
	}
}

.s-equipomic {
	z-index: 88;
	@include mobile {
		padding-top: 60px;
	}

	.container {
		position: relative;
		@include mobile {
			padding-left: 0;
			padding-right: 0;
		}

		.box {
			position: absolute;
			top: 150px;
			left: 0;
			text-align: center;
			width: auto;
			z-index: 9;
			@include pc {
				width: 480px;
			}
			@include mobile {
				padding: 0 15px;
				position: relative;
				top: 0;
			}

			h2 {
				color: $color-gris-oscuro;
				text-transform: uppercase;
				font-size: 2rem;
				margin-bottom: 2rem;
				letter-spacing: 2px;
			}
		}

		.box-image {
			@include mobile {
				overflow-x: hidden;
				display: flex;
				justify-content: center;
			}

			img {
				@include mobile {
					&.img-fluid {
						max-width: none;
					}
					object-fit: cover;
					width: 200%;
					object-position: center;
				}
			}
		}

		.adorno-4 {
			@include mobile {
				display: none;
			}
			position: absolute;
			width: 800px;
			right: -470px;
			top: -230px;
			transform: scaleY(-1);

			img {
				width: 100%;
			}
		}

		.adorno-5 {
			position: absolute;
			width: 730px;
			left: -420px;
			bottom: -177px;
			@include mobile {
				display: none;
			}

			img {
				width: 100%;
			}
		}
	}
}

section {
	.title-section {
		color: black;
		margin-bottom: 2.5rem;
		text-align: center;
		font-weight: bold;
		font-size: 1.5rem;
		letter-spacing: 4px;

		&.no-margin {
			margin-bottom: 0;
		}

		@include pc {
			font-size: 2rem;
		}

		span {
			display: block;
			font-weight: normal;
			font-size: 1rem;
			text-transform: uppercase;
			margin-top: .3rem;
		}
	}

	.subtitle-section {
		color: black;
		text-transform: uppercase;
		font-size: 1.5rem;
		letter-spacing: 2px;
	}
}

.img-content {
	@include mobile {
		margin-bottom: 1.5rem;
	}
}

.box-tipo-cronograma {
	background-color: $color-gris-claro;
	padding: 6rem 4rem;
	@include mobile {
		padding: 2.5rem 1.5rem;
	}

	.row > div {
		margin-bottom: 0;
	}

	.texto-titulo {
		display: flex;
		flex-direction: column;
		color: white;
		align-items: center;
		line-height: 1.5;
		text-transform: uppercase;

		span {
			font-size: 1.8rem;
			font-weight: 400;
		}

		strong {
			font-size: 2.5rem;
		}

		p a {
			color: white !important;
		}
	}

	p {
		color: white;
		font-size: 1.4rem;
		@include mobile {
			text-align: center;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.page-biblioteca {
	.bloque-1 {
		padding: 120px 0;
		@include mobile {
			padding: 60px 0;
		}

		p {
			@include text-big();
			@include pc {
				padding: 0 130px;
			}
		}

		&.bloque-1--no-padding {
			p {
				@include pc {
					padding: 0;
				}
			}
		}

		.adorno-1 {
			top: -74px;
		}
	}

	.bloque-2 {
		.row {
			display: flex;
			align-items: center;
			padding-bottom: 5rem;
			@include mobile {
				padding-bottom: 3rem;
				margin: 0;
				> div {
					width: 100% !important;
				}
				img {
					margin-bottom: 1.5rem;
				}
			}

			p {
				text-align: justify;
			}

			&.right {
				p, h2 {
					padding-left: 4rem;
					@include mobile {
						padding-left: 0;
					}
				}
			}

			&.left {
				@include mobile {
					flex-direction: column-reverse;
				}

				p {
					padding-right: 4rem;
					@include mobile {
						padding-right: 0;
					}
				}
			}
		}

		p {
			//@include text-medium;

			&:last-child {
				margin: 0;
			}
		}
	}

	.bloque-3 {
		@include mobile {
			padding-top: 2rem;
		}
	}

	.form-filtro {
		strong {
			margin-right: 1rem;
			margin-bottom: 0;
		}
	}

	.titulo-filtro {
		background-color: $color-gris;
		color: $color-blanco;
		font-size: 1.5rem;
		font-weight: normal;
		letter-spacing: 2px;
		margin: 3rem 0 3rem;
		padding: .7rem 1rem .5rem 1rem;
		line-height: 1;
		@include mobile {
			text-align: left;
		}
	}

	.resultados-item {
		display: flex;
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid $color-gris-claro;

		.numero {
			span {
				display: block;
				font-size: 3rem;
				color: $color-gris-claro;
				line-height: 1;
				width: 70px;
				margin-left: 5px;
			}
		}

		.texto {
			p {
				margin-bottom: 0;

				strong {
					font-size: 1.2rem;
				}

				a {
					color: $color-celeste;
				}
			}

			.btn {
				font-size: .85rem;
			}
		}
	}

	.container--content {
		.bloque-1 {
			.adorno-1 {
				top: -153px;
			}
		}
	}
}

.c-header-bloque {
	.bloque-1 {
		padding: 50px 0;
		@include mobile {
			padding: 60px 0;
		}

		p {
			@include text-big();
			@include pc {
				padding: 0 130px;
			}
		}
	}
}

.btn-cuadrado {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
	height: 350px;
	line-height: 1.5;
	border-radius: 0;
	@include transition;

	&.btn-cuadrado--version2 {
		height: 260px;
		@include mobile {
			height: 180px;
		}
	}

	&:hover {
		border-radius: 5rem;
		@include transition;
	}

	span {
		color: $color-blanco;
		font-size: 22px;
		letter-spacing: 2px;
	}

	a {
		color: $color-blanco;
		font-size: 35px;
		font-weight: bold;
		letter-spacing: 3px;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		line-height: 1.2;

		&:hover {
			/*border-bottom: 1px solid;*/
		}
	}

	@include mobile {
		margin-bottom: 15px;
		height: 180px;
	}
}

.rec-inicial {
	background-color: $color-amarillo;

	&.apagado {
		background-color: $color-gris-claro;

		&:hover {
			background-color: $color-amarillo;
		}
	}
}

.rec-primaria {
	background-color: $color-celeste;

	&.apagado {
		background-color: $color-gris-claro;

		&:hover {
			background-color: $color-celeste;
		}
	}
}

.rec-secundaria {
	background-color: $color-rojo;

	&.apagado {
		background-color: $color-gris-claro;

		&:hover {
			background-color: $color-rojo;
		}
	}
}

.rec-dp {
	background-color: $color-gris;

	&.apagado {
		background-color: $color-gris-claro;

		&:hover {
			background-color: $color-gris;
		}
	}
}

.page-laboratorio {
	.bloque-1 {
		padding: 120px 0;
		@include mobile {
			padding: 60px 0;
		}

		.adorno-1 {
			top: -74px;
		}
	}

	.bloque-2 {
		p {
			padding-top: 60px;
			text-align: center;
		}
	}

	p {
		//@include text-big();
		@include pc {
			padding: 0 130px;
		}
	}
}

.container--content {
	/*padding-top: 70px;*/
}

aside {
	> div {
		margin-bottom: 30px;
	}

	.btn-cuadrado {
		height: 250px;
		margin-bottom: 15px;
		@include mobile {
			height: 180px;
		}

		span {
			font-size: 18px;
		}

		a {
			font-size: 28px;
		}
	}

	.rec-dp {
		background-color: $color-negro;

		&.apagado {
			background-color: $color-gris-claro;

			&:hover {
				background-color: $color-negro;
			}
		}
	}

	@include pc {
		padding-left: 10px;
	}
	@include mobile {
		margin-top: 6.3rem;
	}

}

.c-botones-box-sidebar {
	margin-top: 1rem;

	.row {
		@include pc {
			margin-bottom: 3rem;
		}
	}

	.btn-cuadrado {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		line-height: 1.5;
		border-radius: 0;
		height: 140px;
		margin-bottom: 15px;

		@include transition;

		&:hover {
			border-radius: 5rem;
			@include transition;
		}

		span {
			color: $color-blanco;
			font-size: 18px;
			letter-spacing: 2px;
		}

		a {
			color: $color-blanco;
			font-size: 28px;
			font-weight: bold;
			letter-spacing: 3px;
			text-decoration: none;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom: 1px solid;
			}
		}
	}

	.rec-inicial {
		background-color: $color-amarillo;

		&.apagado {
			background-color: $color-gris-claro;

			&:hover {
				background-color: $color-amarillo;
			}
		}
	}

	.rec-primaria {
		background-color: $color-celeste;

		&.apagado {
			background-color: $color-gris-claro;

			&:hover {
				background-color: $color-celeste;
			}
		}
	}

	.rec-secundaria {
		background-color: $color-rojo;

		&.apagado {
			background-color: $color-gris-claro;

			&:hover {
				background-color: $color-rojo;
			}
		}
	}

	.rec-dp {
		background-color: $color-gris;

		&.apagado {
			background-color: $color-gris-claro;

			&:hover {
				background-color: $color-gris;
			}
		}
	}


	.rec-dp {
		background-color: $color-negro;

		&.apagado {
			background-color: $color-gris-claro;

			&:hover {
				background-color: $color-negro;
			}
		}
	}
}

.c-form-expuesto {
	margin-bottom: 4rem;
}

.c-noticia {
	position: relative;

	.c-noticia__imagen {
		> div {
			width: 260px;
			margin-right: 1rem;
			overflow: hidden;
			@include mobile {
				width: 100%;
				height: 200px;
				margin-right: 0;
				margin-bottom: 1rem;
			}
		}

		img {
			@include transition;
			@include mobile {
				object-fit: cover;
				object-position: center;
				width: 100%;
				height: 100%;
			}
		}
	}

	.c-noticia__texto {
		.c-noticia__fecha {
			color: $color-gris;
			margin-bottom: .5rem;
		}

		.c-noticia__titulo {
			a {
				text-decoration: none;
			}

			h2 {
				font-size: 1.3rem;
				letter-spacing: normal;
				color: $color-negro;
				@include mobile {
					text-align: left;
				}
			}
		}

		.c-noticia__resumen {
			p {
				font-size: 1rem;
				color: $color-negro;
				line-height: 1.25;
			}
		}
	}

	.c-noticia__boton {
		a.btn-rojo {
			background-color: $color-gris-oscuro !important;
		}
	}

	&:hover {
		.c-noticia__imagen {
			> div {
				overflow: hidden;
			}

			img {
				transform: scale(1.25) rotate(7deg);
				@include transition;
			}
		}

		.c-noticia__titulo {
			h2 {
				text-decoration: underline;
			}
		}

		.c-noticia__boton {
			a {
				background-color: $color-rojo !important;
			}
		}
	}
}

.c-noticia-listado {
	.c-noticia {
		margin-bottom: 2rem;
		padding: 1.5rem;
		@include pc {
			display: flex;
			align-items: center;
		}

		&:nth-child(odd) {
			background-color: #EEEEEE;
		}
	}
}

.c-noticias-mas-leidas {
	border: 1px solid $color-gris-claro;

	h2 {
		background-color: $color-rojo;
		color: $color-blanco;
		font-size: 1.1rem;
		letter-spacing: normal;
		text-transform: uppercase;
		padding: .9rem 1rem .7rem;
		text-align: center;
	}

	.c-wrapper {
		padding: 1rem;

		.c-noticia {
			margin-bottom: 1.5rem;
			display: flex;

			&:last-child {
				margin-bottom: 0;
			}

			.c-noticia__imagen {
				> div {
					width: 70px;
					margin-right: 1rem;
				}
			}

			.c-noticia__fecha {
				color: $color-gris;
			}

			.c-noticia__titulo {
				a {
					color: $color-negro;
				}

				h3 {
					font-size: 1rem;
					font-weight: normal;
					margin-bottom: 0;
				}
			}
		}
	}

	.c-noticia__fecha {
		margin-bottom: 0 !important;
	}
}

article {
	&.noticia-full {

		.c-noticia__imagen {
			margin-bottom: 1rem;

			> div {
				width: 100%;
				margin-right: 1rem;
				overflow: hidden;
				height: 600px;
				@include mobile {
					width: 100%;
					height: 200px;
					margin-right: 0;
					margin-bottom: 1rem;
				}
			}

			img {
				object-fit: cover;
				object-position: center;
				width: 100%;
				height: 100%;
			}
		}

		.c-noticia__texto {
			background-color: #EEEEEE;
			padding: 1rem;

			.c-noticia__fecha {
				color: $color-gris;
				margin-bottom: .5rem;
			}

			.c-noticia__titulo {
				h1 {
					font-size: 1.8rem;
					color: $color-negro;
				}
			}

			.c-noticia__resumen {
				p {
					font-size: 1rem;
					color: $color-negro;
					margin: 0;
				}
			}
		}

		.c-noticia__cuerpo {
			margin-top: 1rem;
			padding: 1rem;
			font-size: 20px;
			line-height: 1.5;
			color: $color-negro;

			.video {
				margin: 2rem 0;
			}
		}

		.c-noticia__tags {
			.field--items {
				display: flex;

				strong {
					color: $color-negro;
					margin-right: 1rem;
				}

				.field--item {
					margin-right: 1rem;

					a {
						color: $color-rojo;
					}
				}
			}
		}
	}
}

.ul-musica-rojo {
	text-align: center;
	margin-bottom: 2rem;

	li {
		color: $color-rojo;
	}
}

.c-share {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	background-color: #f5f5f5;
	height: 80px;

	span {
		color: $color-gris;
		margin-right: 1rem;
	}

	ul {
		li {
			margin-right: 1rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	a {
		color: $color-gris-oscuro;
		font-size: 1.5rem;
		background-color: white;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		box-shadow: 3px 3px 4px rgba(0, 0, 0, .15);
		text-decoration: none;

		&:hover {
			color: $color-rojo;
		}
	}

	&.c-share--header {
		margin-top: 1rem;
		justify-content: flex-start;
		background-color: transparent;
		height: auto;
	}
}

.c-pager {
	nav {
		display: flex;
		justify-content: flex-end;
	}

	ul {
		width: max-content;

		li {
			margin-left: .5rem;

			a {
				color: $color-blanco;
				border: 0;
				width: 46px;
				height: 46px;
				background-color: $color-gris-claro;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10px !important;

				&:hover {
					background-color: $color-negro;
					color: $color-blanco;
				}
			}

			&.active {
				a {
					background-color: $color-rojo !important;
				}
			}
		}
	}
}

.c-image-last {
	margin-top: -380px;
	position: relative;
	z-index: -1;
	@include mobile {
		margin-top: 0;
	}

	.container {
		position: relative;
		@include mobile {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.box-image {

		overflow-x: hidden;
		display: flex;
		justify-content: center;


		img {
			@include mobile {
				&.img-fluid {
					max-width: none;
				}
				object-fit: cover;
				width: 100%;
				object-position: center;
			}
		}
	}
}

.c-footer {
	overflow-x: hidden;
	padding-top: 120px;
	position: relative;

	.logo {
		@include mobile {
			text-align: center;
			margin: 2rem 0;
		}

		img {
			width: 200px;
		}
	}

	ul.footer-links {
		@include mobile {
			text-align: center;
			margin-bottom: 0;
		}

		li {
			margin: 5px 0;
			font-size: 1rem;
			@include mobile {
				margin: 10px 0;
			}

			a {
				color: white;
				@include mobile {
					font-size: 1.2rem;
				}
			}
		}
	}

	ul.footer-logos {
		@include mobile {
			margin: 2rem 0 1.5rem;
		}

		li {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	ul.footer-social {
		margin-bottom: 1rem;

		li {
			margin-right: 10px;
			@include mobile {
				margin-right: 1.5rem;
			}

			&:last-child {
				margin-right: 0;
			}

			a {
				color: white;

				i {
					font-size: 1.6rem;
				}

				&:hover {
					color: $color-gris;
				}
			}
		}
	}

	.logos-wrapper {
		@include mobile {
			display: flex;
			flex-direction: column-reverse;
			ul {
				justify-content: center;
			}
		}
	}

	.box-podcast {
		position: relative;
		height: 270px;

		.onda-negra {
			position: absolute;
			bottom: -1px;
			right: -1px;

			img {
				height: 240px;
				@include mobile {
					height: 150px;
				}
			}
		}

		.box-podcast-wrapper {
			position: absolute;
			top: 0;
			right: 3rem;
			width: 670px;
			@include mobile {
				right: 0;
				width: auto;
			}
		}

		.box-podcast--escucha {
			margin-bottom: 1.5rem;
			float: left;
			@include mobile {
				margin-bottom: .75rem;
				margin-right: 1rem;
				float: none;
			}

			img {
				width: 350px;
				@include mobile {
					width: 250px;
				}
			}
		}

		.box-podcast--flecha {
			@include pc {
				float: left;
				margin: 3rem 0 0 -4rem;
				transform: rotate(-15deg);
			}
			@include mobile {
				padding-left: 2rem;
				margin-bottom: 0;
				float: none;
			}

			img {
				width: 70px;
			}
		}

		.box-podcast--icono {
			display: flex;
			justify-content: flex-end;
			margin-right: 1rem;
			margin-top: 4.5rem;
			@include mobile {
				margin-top: 0;
			}

			img {
				width: 120px;
				@include mobile {
					width: 80px;
				}
			}

			a {
				margin-top: 1.2rem;
				display: block;
				text-align: center;
				color: white;
				font-weight: bold;
				font-size: 1.5rem;
				letter-spacing: 2px;
				text-decoration: none;
				@include mobile {
					font-size: 1.1rem;
				}

				&:hover {
					color: $color-gris;
				}
			}
		}
	}

	&.c-footer--v2 {
		padding-top: 45px;
		margin-top: -445px;
		@include mobile {
			margin-top: -300px;
		}

		.box-podcast {
			height: 400px;
			@include mobile {
				height: 270px;
			}

			.box-podcast-wrapper {
				width: auto;
			}

			.box-podcast--escucha {
				float: none;
				@include mobile {
					opacity: 0;
				}
			}

			.box-podcast--flecha {
				float: none;
				padding-left: 5.9rem;
				margin: 2.5rem 0 .5rem 0;
				transform: rotate(15deg);
				@include mobile {
					opacity: 0;
					transform: none;
					margin: 0;
					padding-left: 2rem;
				}
			}

			.box-podcast--icono {
				margin-top: 0;
			}
		}
	}
}
