footer.c-footer.py-5
  .container
    .row
      .col
        .text-center.btn-social
          span.text-white Síguenos en
          a(href="https://www.facebook.com/WeAreMIC/" target="_blank") <i class="fab fa-facebook-f"></i>
          a(href="https://www.instagram.com/mic_peru/" target="_blank") <i class="fab fa-instagram"></i>
          a(href="https://www.youtube.com/channel/UCKdsCbuFBXlyFiOyq9YdZTg" target="_blank") <i class="fab fa-youtube"></i>
