footer.c-footer.c-footer--home.pt-5
	.box-podcast
		.onda-negra
			img(src="/img/svg/onda-negra-2.svg")
		.box-podcast-wrapper
				.box-podcast--escucha
					div
						img(src="/img/svg/escucha.svg")
				.box-podcast--flecha
					div
						img(src="/img/svg/flecha.svg")
				.box-podcast--icono
					div.position-relative
						img(src="/img/svg/podcast.svg")
						a.stretched-link(href="#") PODCAST

	.bg-negro.py-4
		.container
			.row
				.col-md-3
					.logo
						img(src="/img/logo.svg")
				.col-md-3
					ul
						li
							a(href="#") What's Up Montessori
						li
							a(href="#") MIC Business Directory
						li
							a(href="#") Preguntas Frecuentes
						li
							a(href="#") Reglamento Interno
						li
							a(href="#") Política de datos personales
				.col-md-3
					ul
						li
							a(href="#") Planificador
						li
							a(href="#") Contáctenos
						li
							a(href="#") Trabaja con nosotros
						li
							a(href="#") Podcast
				.col-md-3
					ul.list-unstyled.d-flex
						li
							a(href="https://www.facebook.com/WeAreMIC/" target="_blank") <i class="fab fa-facebook-f"></i>
						li
							a(href="https://www.instagram.com/mic_peru/" target="_blank") <i class="fab fa-instagram"></i>
						li
							a(href="https://www.youtube.com/channel/UCKdsCbuFBXlyFiOyq9YdZTg" target="_blank") <i class="fab fa-youtube"></i>

	.container-fluid.bg-rojo.py-2
		.container
			.text-center
				p.small.m-0.text-white
					|Copyright 2021 MIC. Derechos Reservados.
