footer.c-footer.c-footer--v2
	.box-podcast
		.onda-negra
			img(src="/img/svg/onda-negra-2.svg")
		.box-podcast-wrapper
			.box-podcast--escucha
				div
					img(src="/img/svg/escucha.svg")
			.box-podcast--flecha
				div
					img(src="/img/svg/flecha.svg")
			.box-podcast--icono
				div.position-relative.text-center
					img(src="/img/svg/podcast.svg")
					a.stretched-link(href="podcast.html") PODCAST

	.bg-negro.pt-4.pb-5
		.container
			.row
				.col-md-4
					.logo
						img(src="/img/svg/logo-blanco.svg")
					ul.footer-links.mt-4
						li
							a(href="noticias.html") What's Up Montessori
						li
							a(href="https://drive.google.com/file/d/1If1NmttV8ldITCBa_E7_sq88l66uKz9U/view" target="_blank") Planificador
						li
							a(href="preguntas-frecuentes.html") Preguntas Frecuentes
						li
							a(href="trabaja-con-nosotros.html") Trabaja con nosotros
						li
							a(href="contacto.html") Contáctenos
				.col-md-5
					h2 Políticas MIC
					ul.footer-links.mt-3
						li
							a(href="politica-admision-nuevos-estudiantes.html") Política de admisión de nuevos estudiantes
						li
							a.no-link.text-muted(href="politica-datos-personales.html") Política de tratamiento y protección de datos personales
						li
							a(href="reglamento-interno.html") Reglamento Interno
						li
							a(href="manual-disciplina-sana-convivencia-escolar.html") Manual de Disciplina y Sana Convivencia Escolar
						li
							a.no-link.text-muted(href="#") Política de Evaluación
						li
							a.no-link.text-muted(href="#") Política de Probidad Académica

				.col-md-3
					.logos-wrapper
						ul.list-unstyled.d-flex.footer-social
							li
								a(href="https://www.facebook.com/WeAreMIC/" target="_blank")
									<i class="fab fa-facebook-square"></i>
							li
								a(href="https://www.youtube.com/channel/UCKdsCbuFBXlyFiOyq9YdZTg" target="_blank")
									<i class="fab fa-youtube-square"></i>
							li
								a(href="https://www.instagram.com/mic_peru/" target="_blank")
									<i class="fab fa-instagram"></i>

						ul.list-unstyled.d-flex.footer-logos
							li
								img(src="/img/svg/logo-footer-1.svg" width=45)
							li
								img(src="/img/svg/logo-footer-2.svg" width=45)
							li
								img(src="/img/svg/logo-footer-3.svg" width=56)

	.container-fluid.bg-rojo.py-2
		.container
			.text-center
				p.small.m-0.text-white
					|Copyright 2021 MIC. Derechos Reservados.
