header(class="c-header w-100")
	.container-fluid.py-4.d-none.d-md-block
		.row
			.col-4
				h1(class="text-hide m-0") #{pageTitle}
				a(class='logo' href='./index.html')
					img(src="/img/logo.svg" alt='SiteName')
			.col-8.d-none.d-md-flex.justify-content-end.align-items-center
				.c-header__menu-secundario
					ul.list-unstyled.d-flex.m-0.align-items-center
						li.d-none
							a.btn-search(href="#")
								img(src="/img/svg/ico-search.svg" width="16")
						li
							a(href="javascript:;")
								<i class="fas fa-search"></i>
						li
							a(href="https://mic.edu.pe/tour-virtual/" target="_blank") Tour virtual
						li
							a(href="javascript:;") MIC Games
						li
							a.btn-sieweb(href="https://mic.sieweb.com.pe/sistema/login/" target="_blank") Sieweb
						li.social
							a(href="https://www.facebook.com/WeAreMIC/" target="_blank")
								<i class="fab fa-facebook-f"></i>
						li.social
							a(href="https://www.youtube.com/channel/UCKdsCbuFBXlyFiOyq9YdZTg" target="_blank")
								<i class="fab fa-youtube"></i>
						li.social
							a(href="https://www.instagram.com/mic_peru/" target="_blank")
								<i class="fab fa-instagram"></i>



	.c-header__menu-principal
		.container-fluid
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand logo d-block d-md-none" href="index.html"><img src="/img/logo.svg"></a>
				.d-flex.align-items-center
					span.mr-2
						a.btn.btn-rojo.d-inline-block.d-md-none.btn-sieweb-mobile(href="#") Sieweb
					<a class="d-inline-block d-md-none" href="#menu" id="menu_on" data-toggle="collapse" data-target="#navbarNavDropdown">
					<span></span>
					<span></span>
					<span></span>
					</a>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav w-100 d-flex justify-content-center">
						li
							<a class="logo logo-fixed" href="./index.html"><img src="/img/logo.svg" alt="SiteName"></a>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menu-wearemic" role="button" data-toggle="dropdown">We Are MIC</a>
							<div class="dropdown-menu" aria-labelledby="menu-wearemic">
								<a class="dropdown-item" href="bienvenida.html">Bienvenida</a>
								<a class="dropdown-item" href="ensenanza-virtual.html">Enseñanza Virtual</a>
								<a class="dropdown-item" href="metodologia-mic.html">Metodología MIC</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menu-niveles" role="button" data-toggle="dropdown">Niveles</a>
							<div class="dropdown-menu" aria-labelledby="menu-niveles">
								<a class="dropdown-item" href="niveles.html">* Niveles</a>
								<a class="dropdown-item" href="niveles-pre.html">Preschool</a>
								<a class="dropdown-item" href="niveles-lower.html">Lower School</a>
								<a class="dropdown-item" href="niveles-upper.html">Upper School</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menu-ib" role="button" data-toggle="dropdown">IB</a>
							<div class="dropdown-menu" aria-labelledby="menu-ib">
								<a class="dropdown-item" href="ib.html">* IB</a>
								<a class="dropdown-item" href="ib-primary-years.html">Primary Years Programme</a>
								<a class="dropdown-item" href="ib-diploma.html">Diploma Programme</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menu-admision" role="button" data-toggle="dropdown">Admisiones</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="admisiones.html">* Admisiones</a>
								<a class="dropdown-item" href="admisiones-vacantes.html">Vacantes</a>
								<a class="dropdown-item" href="admisiones-proceso.html">Proceso de admisión</a>
								<a class="dropdown-item" href="admisiones-precios.html">Precios</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menu-instalaciones" role="button" data-toggle="dropdown">Instalaciones</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="biblioteca.html">Biblioteca</a>
								<a class="dropdown-item" href="laboratorio.html">Laboratorio</a>
								<a class="dropdown-item" href="https://mic.edu.pe/tour-virtual/" target="_blank">Tour Virtual</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menu-instalaciones" role="button" data-toggle="dropdown">Extracurriculares</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="extracurriculares.html">* Extracurriculares</a>
								<a class="dropdown-item" href="#">Artes</a>
								<a class="dropdown-item" href="deportes.html">Deportes</a>
								<a class="dropdown-item" href="musica.html">Música</a>
								<a class="dropdown-item" href="debate.html">Debate</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="blog.html">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="noticias.html">Noticias</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="beneficios-mic.html">Beneficios MIC</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contacto.html">Contacto</a>
						</li>
					</ul>
				</div>
			</nav>
	#inicio
