header(class="c-header w-100")
	.container-fluid.py-4.d-none.d-md-block
		.row
			.col-4
				h1(class="text-hide m-0") #{pageTitle}
				a(class='logo' href='./index.html')
					img(src="/img/logo.svg" alt='SiteName')
			.col-8.d-none.d-md-flex.justify-content-end.align-items-center
				.c-header__menu-secundario
					ul.list-unstyled.d-flex.m-0.align-items-center
						li.d-none
							a.btn-search(href="#")
								img(src="/img/svg/ico-search.svg" width="16")
						li
							a(href="#")
								<i class="fas fa-search"></i>
						li
							a(href="#") Galería de fotos
						li
							a(href="#") Tour virtual
						li
							a(href="#") MIC Games
						li
							a.btn-sieweb(href="#") Sieweb
						li.social
							a(href="#")
								<i class="fab fa-facebook-f"></i>
						li.social
							a(href="#")
								<i class="fab fa-youtube"></i>
						li.social
							a(href="#")
								<i class="fab fa-instagram"></i>



	.c-header__menu-principal
		.container-fluid
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand logo d-block d-md-none" href="index.html"><img src="/img/logo.svg"></a>
				.d-flex.align-items-center
					span.mr-2
						a.btn.btn-rojo.d-inline-block.d-md-none.btn-sieweb-mobile(href="#") Sieweb
					<a class="d-inline-block d-md-none" href="#menu" id="menu_on" data-toggle="collapse" data-target="#navbarNavDropdown">
					<span></span>
					<span></span>
					<span></span>
					</a>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav w-100 d-flex justify-content-center">
						li
							<a class="logo logo-fixed" href="./index.html"><img src="/img/logo.svg" alt="SiteName"></a>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menu-wearemic" role="button" data-toggle="dropdown">We Are MIC</a>
							<div class="dropdown-menu" aria-labelledby="menu-wearemic">
								<a class="dropdown-item" href="bienvenida.html">Bienvenida</a>
								<a class="dropdown-item" href="ensenanza-virtual.html">Enseñanza Virtual</a>
								<a class="dropdown-item" href="metodologia-mic.html">Metodología MIC</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menu-niveles" role="button" data-toggle="dropdown">Niveles</a>
							<div class="dropdown-menu" aria-labelledby="menu-niveles">
								<a class="dropdown-item" href="niveles.html">* Niveles</a>
								<a class="dropdown-item" href="#">Preschool</a>
								<a class="dropdown-item" href="#">Lower School</a>
								<a class="dropdown-item" href="#">Upper School</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menu-ib" role="button" data-toggle="dropdown">IB</a>
							<div class="dropdown-menu" aria-labelledby="menu-ib">
								<a class="dropdown-item" href="#">IB</a>
								<a class="dropdown-item" href="#">Primary Years Programme</a>
								<a class="dropdown-item" href="#">Diploma Programme</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Admisión</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menu-instalaciones" role="button" data-toggle="dropdown">Instalaciones</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="instalaciones-biblioteca.html">Biblioteca</a>
								<a class="dropdown-item" href="instalaciones-laboratorio.html">Laboratorio</a>
								<a class="dropdown-item" href="#">Tour Virtual</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menu-instalaciones" role="button" data-toggle="dropdown">Extracurriculares</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="extracurriculares.html">* Extracurriculares</a>
								<a class="dropdown-item" href="#">Artes</a>
								<a class="dropdown-item" href="#">Deportes</a>
								<a class="dropdown-item" href="#">Música y coro</a>
								<a class="dropdown-item" href="#">Orquesta Sinfónica MIC</a>
								<a class="dropdown-item" href="#">Debate</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="noticias.html">Noticias</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Beneficios MIC</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contacto</a>
						</li>
					</ul>
				</div>
			</nav>
	#inicio
